<template name="task_main">
    <div class="block">
        <!-- Preview -->
        <div class="preview">
            <div class="break-sm"></div>
            <h6>
                <i class="fa fa-plus"></i>
                 Share something with your class
                <i class="fa fa-chevron-down right"></i>
            </h6>
            <div class="break-sm"></div>
        </div>
        <!-- Select Task Type -->
		<div class="form shadedInputs">
			<h6>
                What are you sharing?
            </h6>

            <div class="break-sm"></div>

            <div class="row formTypes">
                <div class="col-sm-4">
                    <div class="type" id="practice">Practice Task</div>
                </div>
                <div class="col-sm-4">
                    <div class="type" id="audio">Audio Task</div>
                </div>
                <div class="col-sm-4">
                    <div class="type" id="post">Post</div>
                </div>
            </div>

            <div class= "input-group clear">

                <div class="name field">
                    <div class="break-sm"></div>
                    <div class="group-label clear">
                        <label id="taskNameLabel" for="taskName">Task Name</label>
                    </div>
                    <div class="group-input">
                        <input id="taskName" type="text" name="taskName" placeholder="Practice Four Seasons" class="input input-sm">
                    </div>
                </div>

                <div class="description field">
                    <div class="break-sm"></div>
                    <div class="group-label clear">
                        <label id="taskDescriptionLabel" for="taskDescription">Task Description (Optional)</label>
                    </div>
                    <div class="group-input">
                        <input id="taskDescription" type="text" name="taskDescription" placeholder="Practice measures 32-64" class="input input-sm">
                    </div>
                </div>

                <div class="duration field">
                    <div class="break-sm"></div>
                    <div class="group-label clear">
                        <label for="taskDuration">Practice Length</label>
                    </div>
                    <div class="group-input">
                        <select id="taskDuration" name="taskDuration" class="input input-sm">
                            <option value="">Select a time...</option>
                            <option value="5">5 min.</option>
                            <option value="10">10 min.</option>
                            <option value="15">15 min.</option>
                            <option value="30">30 min.</option>
                            <option value="60">60 min.</option>
                            <option value="120">120 min.</option>
                        </select>
                    </div>
                </div>

                <div class="link field">
                    <div class="break-sm"></div>
                    <div class="group-label clear">
                        <label for="youTube">YouTube Link</label>
                    </div>
                    <div class="group-input">
                        <input id="youTube" type="text" name="youTube" placeholder="http://www.youtube.com/watch?v=GRxofEmo3HA" class="input input-sm">
                    </div>
                </div>

                <div class="video-preview field">
                    <div class="break-sm"></div>
                    <p>Preview</p>
                    <iframe class="video" src="//www.youtube.com/embed/GRxofEmo3HA" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="due field">
                    <div class="break-sm"></div>
                    <div class="group-label clear">
                        <label for="dueDate">Due Date</label>
                    </div>
                    <div class="group-input">
                        <input id="dueDate" type="date" name="dueDate" class="input input-sm">
                    </div>
                </div>

                <div class="sections field">
                    <div class="break-sm"></div>
                    <div class="group-label clear">
                        <label for="dueDate">Select sections:</label>
                    </div>
                    <div class="section-tags">
                        <div class="tag clickable selectAll">Select All</div>
                        {{#each sectionList}}
                            <div class="tag clickable" id="{{_id}}">{{name}}</div>
                        {{/each}}
                    </div>
                </div>

                <div class="points field">
                    <div class="break-sm"></div>
                    <p>This is worth <span class="t-red" id="pointValue">0</span> points</p>
                </div>

                <div class="formButtons field row">
                    <div class="break-sm"></div>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <button id="assignTask" class="btn btn1 btn-green btn-sm">
                                Assign Task
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <button id="cancelClass" class="btn btn1 btn-gray btn-sm">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>

			</div>
		</div>

	</div>
</template>