<template name="other_class_option">
    <option value="{{_id}}">{{school}} {{name}}</option>
</template>


<template name="challenge_class">
    <div class="block">
    <!-- {{#if challengeAvailable}} -->
        <div class="blue-hover clickable" id="previewChallengeA">
            <div class="preview">
                <div class="break-sm"></div>
                <h6>
                    Pick a class to challenge.
                    <i class="fa right fa-chevron-down"></i>
                </h6>
                <div class="break-sm"></div>
            </div>
        </div>
        <div id="challengeOpenA">
            <div class="break-md"></div>
            <h6>Please select a class to challenge</h6>
            <div class="break-sm"></div>
            <div class="form shadedInputs">
                <div class="input-group clear">
                    <div class="group-input">
                        <select id="selectClass" class="input border input-md">
                            {{#each allOtherFreeClasses}}
                                {{> other_class_option}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="break-sm"></div>
                <button id="confirmChallenge" class="btn btn-md btn-red width100">
                    Confirm Challenge
                </button>
            </div>
        </div>
    </div>
    <!-- {{else}} -->
        <!-- <h6>Challenge is not available</h6> -->
    <!-- {{/if}} -->
</template>
