<template name="classoption">
    <option value="{{_id}}">{{name}}</option>
</template>

<template name="challenge_class_away_main">
    <div class="block">
    <!-- {{#if challengeAvailable}} -->
        <div class="blue-hover clickable" id="previewChallenge">
            <div class="preview">
                <div class="break-sm"></div>
                <h6>
                    Would you like to challenge this class?
                    <i class="fa right fa-chevron-down"></i>
                </h6>
                <div class="break-sm"></div>
            </div>
        </div>
        <div id="challengeOpen">
            <div class="break-md"></div>
            <h6>Please select which of your classes you'd like to challenge with.</h6>
            <div class="break-sm"></div>
            <div class="form shadedInputs">
                <div class="input-group clear">
                    <div class="group-input">
                        <select id="selectClass" class="input border input-md">
                            {{#each yourClasses}}
                                {{> classoption}}
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="break-sm"></div>
                <button id="confirmChallenge" class="btn btn-md btn-red width100">
                    Confirm Challenge
                </button>
            </div>
        </div>
    </div>
    <!-- {{else}} -->
        <!-- <h6>Challenge is not available</h6> -->
    <!-- {{/if}} -->
</template>
