<template name="class_task_main">
    <div class="block class-task">
        <div class="header">
        <!-- {{#if isTeacher}} -->
            <!-- Preview -->
            <div id="previewTask">
                <div class="break-sm"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <button id="openCreateTask" class="btn btn1 btn-green btn-sm left"><i class="fa fa-plus"></i> New</button>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="task-view-title">Current</h5>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn1 btn-gray btn-sm right">Show Past</button>
                    </div>
                </div>
                <div class="break-sm"></div>
                {{#each temp}}
                    {{taskId}}
                {{/each}}
            </div>
        <!-- {{/if}} -->

            <!-- Select Task Type -->
    		<div id="taskForm" class="form shadedInputs">
    			<h6>
                    What are you sharing?
                </h6>

                <div class="break-sm"></div>

                <div class="row formTypes">
                    {{#if isTeacher}}
                        <div class="col-sm-3">
                            <div class="type" id="practice">Practice Task</div>
                        </div>
                        <div class="col-sm-3">
                            <div class="type" id="audio">Audio Task</div>
                        </div>
                    {{/if}}
                    <div class="col-sm-3">
                        <div class="type" id="post">Post</div>
                    </div>
                    <div class="col-sm-3">
                        <button class="cancelClass btn btn1 btn-red-inverse btn-sm width100">Cancel</button>
                    </div>
                </div>

                <!-- Task creation form -->
                <div class= "input-group clear">

                    <div class="name field">
                        <div class="break-sm"></div>
                        <div class="group-label clear">
                            <label id="taskNameLabel" for="taskName">Task Name</label>
                        </div>
                        <div class="group-input">
                            <input id="taskName" type="text" name="taskName" placeholder="Practice Four Seasons" class="input input-sm">
                        </div>
                    </div>

                    <div class="description field">
                        <div class="break-sm"></div>
                        <div class="group-label clear">
                            <label id="taskDescriptionLabel" for="taskDescription">Task Description (Optional)</label>
                        </div>
                        <div class="group-input">
                            <input id="taskDescription" type="text" name="taskDescription" placeholder="Practice measures 32-64" class="input input-sm">
                        </div>
                    </div>

                    <div class="duration field">
                        <div class="break-sm"></div>
                        <div class="group-label clear">
                            <label for="taskDuration">Practice Length</label>
                        </div>
                        <div class="group-input">
                            <select id="taskDuration" name="taskDuration" class="input input-sm">
                                <option value="">Select a time...</option>
                                <option value="5">5 min.</option>
                                <option value="10">10 min.</option>
                                <option value="15">15 min.</option>
                                <option value="30">30 min.</option>
                                <option value="60">60 min.</option>
                                <option value="120">120 min.</option>
                            </select>
                        </div>
                    </div>

                    <div class="link field">
                        <div class="break-sm"></div>
                        <div class="group-label clear">
                            <label for="youTube">YouTube Link</label>
                        </div>
                        <div class="group-input">
                            <input id="youTube" type="text" name="youTube" placeholder="http://www.youtube.com/watch?v=GRxofEmo3HA" class="input input-sm">
                        </div>
                    </div>

                    <div class="video-preview field">
                        <div class="break-sm"></div>
                        <p>Preview</p>
                        <iframe class="video" src="//www.youtube.com/embed/GRxofEmo3HA" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <div class="due field">
                        <div class="break-sm"></div>
                        <div class="group-label clear">
                            <label for="dueDate">Due Date</label>
                        </div>
                        <div class="group-input">
                            <input id="dueDate" type="date" name="dueDate" class="input input-sm">
                        </div>
                    </div>

                    <div class="sections field">
                        <div class="break-sm"></div>
                        <div class="group-label clear">
                            <label for="dueDate">Select sections:</label>
                        </div>
                        <div class="section-tags">
                            <div class="tag clickable selectAll">Select All</div>
                            {{#each sectionList}}
                                <div class="tag clickable" id="{{_id}}">{{name}}</div>
                            {{/each}}
                        </div>
                    </div>

                    <div class="points field">
                        <div class="break-sm"></div>
                        <p>This is worth <span class="t-red" id="pointValue">0</span> points</p>
                    </div>

                    <div class="formButtons field row">
                        <div class="break-sm"></div>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <button id="assignTask" class="btn btn1 btn-green btn-sm">
                                    {{#if isTeacher}}
                                        Assign Task
                                    {{else}}
                                        Post
                                    {{/if}}
                                </button>
                            </div>
                        </div>
                    </div>
    			</div> <!-- Close task creation form -->
    		</div> <!-- Close select task type -->

            <div class="divider-bar-full"></div>
        
        </div>

        <div class="body">
        {{#if allTasks}}
            {{#each allTasks}}
                <div class="task">
                    {{#if type_practice}}
                        <div class="task-title row">
                            <div class="col-sm-2">
                                <h5><i class="fa fa-music"></i></h5>
                            </div>
                            <div class="col-sm-10">
                                <h5 class="task-name">{{name}} <a onclick="openTask(this)" class="blue">See more</a></h5>
                                <p class="task-description">{{description}}</p>
                            </div>
                        </div>
                        <div class="task-body row" style="display: none;">
                            <!-- <div class="col-sm-2"><br></div> -->
                            <div class="col-sm-8">
                                <div class="group">
                                    <p class="task-date">Due Date: <em>{{dueDate}}</em></p>
                                    <p class="task-duration">Duration: <em>{{duration}} minutes</em></p>
                                    <p class="task-points">Points: <em class="t-red">{{points}}</em></p>
                                </div>
                                <div class="group">
                                    <p>Assigned to:</p>
                                    <p class="task-sections">
                                        {{#each sections}}
                                            <em>{{name}}</em>
                                        {{/each}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                {{#if isTeacher}}
                                    <div class="action-buttons">
                                        <button class="view-more btn btn1 btn-green btn-sm width100 {{#unless totalComplete}}disabled{{/unless}}" name="completed-{{_id}}" disabled="{{#unless totalComplete}}disabled{{/unless}}">Finished ({{totalComplete}})</button>
                                        <button class="view-more btn btn1 btn-blue btn-sm width100 {{#unless totalInProgress}}disabled{{/unless}}" name="inprogress-{{_id}}" disabled="{{#unless totalInProgress}}disabled{{/unless}}">In Progress ({{totalInProgress}})</button>
                                        <button class="view-more btn btn1 btn-yellow btn-sm width100 {{#unless totalNotStarted}}disabled{{/unless}}" name="notstarted-{{_id}}" disabled="{{#unless totalNotStarted}}disabled{{/unless}}">Not Started ({{totalNotStarted}})</button>
                                        <button class="btn btn1 btn-red btn-sm width100" id="deletTask">Delete</button>
                                    </div>
                                    <div id="completed-{{_id}}" class="additional" style="display: none;">
                                        {{#each sections}}
                                            {{#if complete}}
                                                <p class="section-name">{{name}}</p>
                                            {{/if}}
                                            {{#each users}}
                                                {{#if complete}}
                                                    <p>{{profile.firstName}} {{profile.lastName}}</p>
                                                {{/if}}
                                            {{/each}}
                                        {{/each}}
                                        <button class="close-view-more btn btn1 btn-sm btn-gray-inverse width100">Close</button>
                                    </div>
                                    <div id="inprogress-{{_id}}" class="additional" style="display: none;">
                                        {{#each sections}}
                                            {{#if inProgress}}
                                                <p class="section-name">{{name}}</p>
                                            {{/if}}
                                            {{#each users}}
                                                {{complete}}
                                                {{#unless complete}}{{#if progress}}
                                                    <p>{{profile.firstName}} {{profile.lastName}}</p>
                                                {{/if}}{{/unless}}
                                            {{/each}}
                                        {{/each}}
                                        <button class="close-view-more btn btn1 btn-sm btn-gray-inverse width100">Close</button>
                                    </div>
                                    <div id="notstarted-{{_id}}" class="additional" style="display: none;">
                                        {{#each sections}}
                                            {{#if notStarted}}
                                                <p class="section-name">{{name}}</p>
                                            {{/if}}
                                            {{#each users}}
                                                {{complete}}
                                                {{#unless progress}}
                                                    <p>{{profile.firstName}} {{profile.lastName}}</p>
                                                {{/unless}}
                                            {{/each}}
                                        {{/each}}
                                        <button class="close-view-more btn btn1 btn-sm btn-gray-inverse width100">Close</button>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if type_audio}}
                        <div class="task-title row">
                            <div class="col-sm-2">
                                <h5><i class="fa fa-headphones"></i></h5>
                            </div>
                            <div class="col-sm-10">
                                <h5 class="task-name">{{name}} <a onclick="openTask(this)" class="blue">See more</a></h5>
                                <p class="task-description">{{description}}</p>
                            </div>
                        </div>
                        <div class="task-body row" style="display: none;">
                            <!-- <div class="col-sm-2"><br></div> -->
                            {{#if seeVideo}}
                                {{> youtube_player}}
                            {{else}}
                                <div class="col-sm-8">
                                    <div class="group">
                                        <p class="task-date">Due Date: <em>{{dueDate}}</em></p>
                                        <p class="task-duration">Duration: <em>{{duration}} minutes</em></p>
                                        <p class="task-points">Points: <em class="t-red">{{points}}</em></p>
                                    </div>
                                    <div class="group">
                                        <p>Assigned to:</p>
                                        <p class="task-sections">
                                            {{#each sections}}
                                                <em>{{name}}</em>
                                            {{/each}}
                                        </p>
                                    </div>
                                </div>
                            {{/if}}
                            <div class="col-sm-4">
                                {{#if isTeacher}}
                                    <div class="action-buttons">
                                        <button class="view-more btn btn1 btn-green btn-sm width100 {{#unless totalComplete}}disabled{{/unless}}" name="completed-{{_id}}" disabled="{{#unless totalComplete}}disabled{{/unless}}">Finished ({{totalComplete}})</button>
                                        <button class="view-more btn btn1 btn-blue btn-sm width100 {{#unless totalInProgress}}disabled{{/unless}}" name="inprogress-{{_id}}" disabled="{{#unless totalInProgress}}disabled{{/unless}}">In Progress ({{totalInProgress}})</button>
                                        <button class="view-more btn btn1 btn-yellow btn-sm width100 {{#unless totalNotStarted}}disabled{{/unless}}" name="notstarted-{{_id}}" disabled="{{#unless totalNotStarted}}disabled{{/unless}}">Not Started ({{totalNotStarted}})</button>
                                        <button class="btn btn1 btn-red btn-sm width100" id="deleteTask">Delete</button>
                                    </div>
                                    <div id="completed-{{_id}}" class="additional" style="display: none;">
                                        {{#each sections}}
                                            {{#if complete}}
                                                <p class="section-name">{{name}}</p>
                                            {{/if}}
                                            {{#each users}}
                                                {{#if complete}}
                                                    <p>{{profile.firstName}} {{profile.lastName}}</p>
                                                {{/if}}
                                            {{/each}}
                                        {{/each}}
                                        <button class="close-view-more btn btn1 btn-sm btn-gray-inverse width100">Close</button>
                                    </div>
                                    <div id="inprogress-{{_id}}" class="additional" style="display: none;">
                                        {{#each sections}}
                                            {{#if inProgress}}
                                                <p class="section-name">{{name}}</p>
                                            {{/if}}
                                            {{#each users}}
                                                {{complete}}
                                                {{#unless complete}}{{#if progress}}
                                                    <p>{{profile.firstName}} {{profile.lastName}}</p>
                                                {{/if}}{{/unless}}
                                            {{/each}}
                                        {{/each}}
                                        <button class="close-view-more btn btn1 btn-sm btn-gray-inverse width100">Close</button>
                                    </div>
                                    <div id="notstarted-{{_id}}" class="additional" style="display: none;">
                                        {{#each sections}}
                                            {{#if notStarted}}
                                                <p class="section-name">{{name}}</p>
                                            {{/if}}
                                            {{#each users}}
                                                {{complete}}
                                                {{#unless progress}}
                                                    <p>{{profile.firstName}} {{profile.lastName}}</p>
                                                {{/unless}}
                                            {{/each}}
                                        {{/each}}
                                        <button class="close-view-more btn btn1 btn-sm btn-gray-inverse width100">Close</button>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    {{/if}}
                    {{#if type_post}}
                        <div class="task-title row">
                            <div class="col-sm-2">
                                <h5><i class="fa fa-comment"></i></h5>
                            </div>
                            <div class="col-sm-10">
                                <h5 class="task-name post">{{name}}</h5>
                                <p class="author">{{author.profile.firstName}} {{author.profile.lastName}} • {{creationDate}}</p>
                                <p class="task-description post">{{description}}</p>
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        {{else}}
        <!-- If no tasks -->
        <p>This class has no active tasks. Click the '+ New' button above to make your first task!</p>
        {{/if}}
        </div>

    </div> <!-- Close block -->
</template>