<template name="students">
    <a href="/user?id={{profile.id}}">
        <p class="col-sm-8">
            {{profile.firstName}} {{profile.lastName}} TODO: Get ID Param
        </p>
    </a>
    <a id="deleteStudent">
        Delete
    </a>
</template>
<template name="waitlist_students">
    <a href="/user?id={{profile.id}}">
        <p class="col-sm-8">
            {{profile.firstName}} {{profile.lastName}} TODO: Get ID Param
        </p>
    </a>
    <a id="confirmStudent">
        Confirm
    </a>
</template>

<template name="manage_class">
    <div class="block">
        <div class="form shadedInputs">
            <div class="input-group clear">
                <h6>
                    Manage {{name}} (Teachers)
                </h6>
                <div class="break-sm"></div>
                <div class="group-label clear">
                    <label for="className">
                        Change Class Name
                    </label>
                </div>
                <div class="group-input">
                    <input id="newName" type="text" name="newName" placeholder="{{name}}" class="input input-sm">
                </div>
            </div>

            <div class="input-group clear">
                <label class="is-locked">
                    <input id="lockedBox" type="checkbox" checked="{{isLocked}}" />
                        Click here to lock your class from letting new students join.
                    <div class="break-md"></div>
                </label>
            </div>

            <div class="input-group clear">
                <h6>
                    List of Students
                </h6>
                <div class="break-sm"></div>
                {{#each studentList}}
                    {{> students}}
                {{/each}}
                {{#each waitList}}
                    {{> waitlist_students}}
                {{/each}}
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <button id="saveClass" class="btn btn1 btn-gray btn-sm">
                            Save Class Changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>