<template name="manage_class">

    <div class="block">
        <div class="form shadedInputs">
            <div class="input-group clear">
                <h4>
                    Class Management
                </h4>
                <div class="break-sm"></div>
                <div class="group-label clear">
                    <label for="className">
                        Change Class Name
                    </label>
                </div>
                <div class="group-input">
                    <input id="newName" type="text" name="newName" placeholder="{{name}}" class="input input-md">
                </div>
            </div>
        </div>
        <div class="input-group clear">
            <label class="is-locked">
                
                <div class="break-md"></div>
            </label>
        </div>
        <div class="row">

            <div class="col-sm-4">
                <input id="lockedBox" type="checkbox" checked="{{isLocked}}" />
                <label for="lockedBox" class="clickable">
                    <a>Click here to lock your class from new students.</a>
                </label>
            </div>
        
            <div class="col-sm-4">
                <button class="btn btn-md btn-red width100" id="deleteClass">
                    <!-- Make sure that deleting removes all associated sections, and taskdata -->
                    Delete TODO
                </button>
            </div>

            <div class="col-sm-4">
                <div class="input-group">
                    <button id="saveClass" class="btn btn-gray btn-md width100">
                        Save Class Changes
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="block">
        <div class="input-group clear">
            <h4>
                Section Management
            </h4>
            <div class="break-sm"></div>
            <div class="section-management">
                {{#if saveSections}}
                    {{#each sectionList}}
                        {{> class_sections}}
                    {{/each}}
                {{/if}}
                {{#if editSections}}
                    {{#each sectionList}}
                        {{> edit_sections}}
                    {{/each}}
                {{/if}}
            </div>
            <div class="break-sm"></div>
            {{#if addNewSection}}
                <div class="form shadedInputs">
                    <div class="input-group clear">
                        <div class="group-input col-sm-6" style="visibility: hidden;">
                            a
                        </div>
                        <div class="group-input col-sm-6">
                            <input id="newAddedSection" type="text" name="newSection" placeholder="New Section Name" class="input input-sm">
                        </div>
                    </div>
                </div>
            {{/if}}
            <div class="break-sm"></div>
            <div class="row">
                <div class="col-sm-6">
                    {{#unless editSections}}
                        <button class="btn btn-md btn-blue width100" id="editSections">
                            <!-- allows you to change section names -->
                            Edit Sections
                        </button>
                    {{/unless}}
                    {{#unless saveSections}}
                        <button class="btn btn-md btn-gray width100" id="saveSections">
                            <!-- allows you to change section names -->
                            Save Changes
                        </button>
                    {{/unless}}
                </div>
                <div class="col-sm-6">
                    {{#unless addNewSection}}
                        <button class="btn btn-md btn-green width100" id="addNewSection">
                            <!-- creates input box for section creation -->
                            + Add Sections TODO
                        </button>
                    {{/unless}}
                    {{#unless confirmAddedSection}}
                        <button class="btn btn-md btn-gray width100" id="confirmAddedSection">
                            <!-- allows you to change section names -->
                            Confirm Added Section
                        </button>
                    {{/unless}}
                </div>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="input-group clear">
            <h4>
                Student Management
            </h4>
            <div class="break-sm"></div>
            <div class="student-management">
                {{#if studentList}}
                    {{#each studentList}}
                        {{> class_students}}
                    {{/each}}
                {{else}}
                    {{> welcome_no_students}}
                {{/if}}
            </div>
            <br>
            
            {{#if waitList}}
                <h6>Waitlist</h6>
                <div class="student-management">
                    {{#each waitList}}
                        {{> waitlist_students}}
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</template>

<!-- Other Templates -->

<!-- View Sections -->
<template name="class_sections">
    <div class="row">
        <h6 class="col-sm-6">
            <div class="center">
                <a href="/section?id={{_id}}">
                    {{name}}
                </a>
            </div>
        </h6>
        <h6 class="col-sm-6">
            <div class="center">
                <a class="red" id="deleteSection">
                    <!-- Remove section id from class array -->
                    Delete
                </a>
            </div>
        </h6>
    </div>
    <div class="break-sm"></div>
</template>

<!-- Edit Sections -->
<template name="edit_sections">
    <div class="row">
        <h6 class="col-sm-6">
            <div class="form shadedInputs">
                <div class="input-group clear">
                    <div class="group-input">
                        <input type="text" class="input input-sm" value="{{name}}">
                        <select>
                            <option>Current Leader</option>
                            <option>Roy Fu</option>
                            <option>TODO</option>
                        </select>
                        <input type="text" class="" placeholder="order">
                    </div>
                </div>
            </div>
        </h6>
        <h6 class="col-sm-6">
            <div class="center">
                <a class="red" id="deleteSection">
                    <!-- Remove section id from class array -->
                    Delete
                </a>
            </div>
        </h6>
    </div>
    <div class="break-sm"></div>
</template>

<!-- Students -->
<template name="class_students">
    <div class="row">
        <p class="col-sm-8">
            <a href="/user?id={{_id}}">
                {{profile.firstName}} {{profile.lastName}}
            </a>
        </p>
        <a id="deleteStudent" style="padding-left: 6em;">
            <!-- TODO - Delete taskdata with this student id ? -->
            Delete
        </a>
    </div>
</template>

<!-- Waitlist -->
<template name="waitlist_students">
    <div class="row">
        <p class="col-sm-8">
            <a href="/user?id={{_id}}">
                {{profile.firstName}} {{profile.lastName}}
            </a>
        </p>
        <p>
            <a id="confirmStudent">
                Confirm
            </a>
            <a id="denyStudent">
                &nbsp;&nbsp; TODO: Deny
            </a>
        </p>

    </div>
</template>

<!-- If no students in class -->
<template name="welcome_no_students">
    <h6 class="center">
        You currently have no students!
    </h6>
    <p class="lots-of-text">
        Once your students create an account at vivaldibeta.com, they will be able to add this class. When a student adds a class, you, the teacher, will first have to accept them as a student, by clicking on the 'confirm' button that will appear next to their name. You will also be able to deny students who are not in your class, and once everyone is fully signed up, you'll be able to 'lock' your class with the checkbox above, to keep other from being able to request to join your class.
    </p>
</template>


