<template name="student_views_class_tasks">
    <div class="block class-task">
        <div class="header">
            
            <!-- Preview -->
            <div class="preview">
                <div class="break-sm"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <!-- <button id="openCreateTask" class="btn btn1 btn-green btn-sm left"><i class="fa fa-plus"></i> New</button> -->
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="task-view-title">Current</h5>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn1 btn-gray btn-sm right">Show Past</button>
                    </div>
                </div>
                <div class="break-sm"></div>
            </div>

            <div class="body">
                {{#each allTasks}}
                    <div class="task">
                        {{#if type_practice}}
                            <div class="task-title row">
                                <div class="col-sm-2">
                                    <h5><i class="fa fa-music"></i></h5>
                                </div>
                                <div class="col-sm-10">
                                    <h5 class="task-name">{{name}} <a onclick="openTask(this)" class="blue">See more</a></h5>
                                    <p class="task-description">{{description}}</p>
                                </div>
                            </div>
                        {{/if}}
                        {{#if type_audio}}
                            <div class="task-title row">
                                <div class="col-sm-2">
                                    <h5><i class="fa fa-headphones"></i></h5>
                                </div>
                                <div class="col-sm-10">
                                    <h5 class="task-name">{{name}} <a onclick="openTask(this)" class="blue">See more</a></h5>
                                    <p class="task-description">{{description}}</p>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div> <!-- Close block -->
</template>