<template name="section_name">
{{name}}
</template>

<template name="teacher_task">
{{#if sectionNames}}
    <div class="row headerDark">
        <p class="col-sm-9 center">
            {{duration}} Minutes - Due {{formatDate}} - {{points}} Points
        </p>
        <div class="col-sm-3 practicetag">
            <p>
                {{type}}
            </p>
        </div>
    </div>
    <div class="block">
        <h6>
            {{name}}
        </h6>
        <br>{{description}}
        <br>Sections: 
        {{#each sectionNames}}
            {{> section_name}}
        {{/each}}
    </div>

{{/if}}
</template>