<template name="change_password">
    <div id="changePassword" class="block">
        <div class="form shadedInputs">
            <h6>Change Password</h6>
            <div class="break-sm"></div>
            <div class="input-group clear">
                <div class="group-label clear">
                    <label for="currentPwd">
                        Current Password
                    </label>
                </div>
                <div class="group-input">
                    <input id="currentPwd" type="password" name="currentPwd" class="input input-sm" placeholder="••••••••">
                </div>
            </div>
            <div class="input-group clear">
                <div class="group-label clear">
                    <label for="newPwd">
                        New Password
                    </label>
                </div>
                <div class="group-input">
                    <input id="newPwd" type="password" name="newPwd" class="input input-sm" placeholder="••••••••">
                </div>
            </div>
            <div class="input-group clear">
                <div class="group-label clear">
                    <label for="confirmPwd">
                        Confirm Password
                    </label>
                </div>
                <div class="group-input">
                    <input id="confirmPwd" type="password" name="confirmPwd" class="input input-sm" placeholder="••••••••">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <button id="savePassword" class="btn btn1 btn-gray btn-sm">
                            Save Password
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>