<template name="listen_task">
    <div class="row headerDark">
        <p class="col-sm-9 center">
            Everyone
        </p>
        <div class="col-sm-3 listentag">
            <p>
                Listen
            </p>
        </div>
    </div>
    <div class="block">
        <h6>Spring by Vivaldi
        </h6>
        <div class="break-sm">
        </div>
        <div class="row">
            <iframe id="video545710d1a123500931000263" src="//www.youtube.com/embed/yctfXIqugXc" frameborder="0" allowfullscreen="allowfullscreen" style="display:none;">
            </iframe>
            <div class="col-sm-4">
                <button onclick="slideOpenVideo(this, &quot;#video545710d1a123500931000263&quot;)" class="btn btn1 btn-blue btn-sm width100">Show Video
                </button>
            </div>
        </div>
    </div>
</template>