
<template name="settings">
    
    <div id="adminClass" class="container-full">
        <div class="break-lg"></div>
        <div class="row">

            <div class="col-md-4 col-lg-4">
            <!-- Do these three for now -->
                {{> change_name}}
                {{> change_password}}
            </div>
            {{#if isTeacher}}
                <div class="col-md-8 col-lg-8">
                    {{> change_school}}
                </div>
            {{else}}
                <div class="col-md-8 col-lg-8">
                    {{> change_instrument}}
                    {{> join_class}}
                    {{#each userClasses}}
                        {{> join_section}}
                    {{/each}}
                </div>
            {{/if}}

        </div>
    </div>

</template>