
<template name="settings">
    
    <div id="adminClass" class="container-full">
        <div class="break-lg"></div>
        <div class="row">

            <div class="col-md-4 col-lg-4">
            <!-- Do these three for now -->
                {{> awesome_side}}
                {{> back_home_btn}}
            </div>
            <div class="col-md-8 col-lg-8">
                {{#if isTeacher}}
                    {{> change_name}}
                    {{> change_password}}
                    {{> change_school}}
                {{else}}
                    {{> change_instrument}}
                    {{> join_class}}
                    {{#each userClasses}}
                        {{> join_section}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>

</template>