<template name="home_view">

        <div class="row">
            <div class="col-md-4 col-lg-4">
                {{#if isTeacher}}

                    {{#if showClasses}}
                        <button id="showClasses" class="btn btn1 btn-blue btn-md width100">
                            Classes
                        </button>
                        <div class="break-sm"></div>
                    {{/if}}
                    {{#unless allOtherClasses}}
                        <button id="allOtherClass" class="btn btn1 btn-red btn-md width100">
                            Challenge Another Class
                        </button>
                        <div class="break-sm"></div>
                    {{/unless}}

                {{else}}
                    <!-- if student -->
                    {{#if showTasks}}
                        <button id="showTasks" class="btn btn1 btn-blue btn-md width100">
                            Show Tasks
                        </button>
                        <div class="break-sm"></div>
                    {{/if}}
                    {{#unless completedTasks}}
                        <button id="completedTasks" class="btn btn1 btn-yellow btn-md width100">
                            See Completed
                        </button>
                        <div class="break-sm"></div>
                    {{/unless}}
                    {{#unless practice}}
                        <button id="practice" class="btn btn1 btn-green btn-md width100">
                            Practice
                        </button>
                        <div class="break-sm"></div>
                    {{/unless}}

                {{/if}}
            </div>
            <div class="col-md-8 col-lg-8">
                {{#if isTeacher}}
                    {{#unless showClasses}}
                        {{> create_class_main}}
                        {{> home_class_list_main}}
                    {{/unless}}
                    {{#if allOtherClasses}}
                        {{> other_classes_main.html}}
                    {{/if}}
                {{else}}
                    <!-- Makes sure the user is in a class -->
                    {{#if userClasses}}
                        <!-- if student -->
                        {{#unless showTasks}}
                            <!-- {{> home_incomplete_tasks_main}} -->
                        {{/unless}}
                        {{#if completedTasks}}
                            <!-- {{> home_completed_tasks_main}} -->
                        {{/if}}
                        {{#if practice}}
                            <!-- {{> practice_interface}} -->
                        {{/if}}
                    {{else}}
                        {{> join_class}}
                    {{/if}}
                {{/if}}
            </div>
        </div>

</template>