<template name="home_class_list">
    <a href="">
        <div class="block yellowHover">
            <p>
                Name
            </p>
            <h5>
                {{name}}
            </h5>
            <div class="break-md"></div>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        students
                    </p>
                    <h5>
                        <!-- {{numberStudents}} -->
                    </h5>
                </div>
            </div>
        </div>
    </a>
</template>

<template name="home_view">

        <div class="row">
            <div class="col-md-4 col-lg-4">
                {{#if isTeacher}}
                    <a href="">
                        <button class="btn btn1 btn-red btn-md width100">
                            + New Class
                        </button>
                    </a>
                    <div class="break-sm"></div>
                {{/if}}
            </div>
            <div class="col-md-8 col-lg-8">
                {{#if isTeacher}}
                    {{#each teacherClassesList}}
                        {{> home_class_list}}
                    {{/each}}
                {{/if}}
            </div>
        </div>

</template>