<template name="home_view">

        <div class="row">
            <div class="col-md-4 col-lg-4">
                {{> welcome_name_side}}
                {{#if isTeacher}}

                    {{#unless showClasses}}
                        <button id="showClasses" class="btn btn1 btn-blue btn-md width100">
                            Classes
                        </button>
                        <div class="break-sm"></div>
                    {{/unless}}
                    {{#unless seeLeaderboards}}
                        <button id="seeLeaderboards" class="btn btn1 btn-yellow btn-md width100">
                            Leaderboards
                        </button>
                        <div class="break-sm"></div>
                    {{/unless}}

                {{else}}
                    <!-- if student -->
                    <!-- Hide buttons if student isn't in a section yet -->
                    {{#if studentSections}}
                        {{#unless showTasks}}
                            <button id="showTasks" class="btn btn1 btn-blue btn-md width100">
                                Show Tasks
                            </button>
                            <div class="break-sm"></div>
                        {{/unless}}
                        {{#unless viewStats}}
                            <button id="viewStats" class="btn btn1 btn-yellow btn-md width100">
                                View Stats
                            </button>
                            <div class="break-sm"></div>
                        {{/unless}}
                    {{else}}
                        <!-- #Hack -->
                        <div style="display: transparent">a</div>
                    {{/if}}
                {{/if}}
                <!-- {{> notifications}} -->
                {{> awesome_side}}
            </div>
            <div class="col-md-8 col-lg-8">
                {{#if isTeacher}}
                    {{#if showClasses}}
                        <div class="block">
                            <div class="row">
                                <h1 class="col-sm-8">
                                    Your Classes
                                </h1>
                                <div class="col-sm-4 t-right">
                                    <div class="break-md"></div>
                                    <div class="break-sm"></div>
                                    <h6>
                                        <input id="manageClasses" type="checkbox" checked="{{manageMode}}" />
                                        <label for="manageClasses" class="clickable">
                                            <a>Manage Classes</a>
                                        </label>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        {{> home_class_list_main}}
                        {{> create_class_main}}
                    {{/if}}
                    {{#if seeLeaderboards}}
                        <!-- {{> other_classes_main}} -->
                        <div class="block"><h1>TODO: > leaderboards</h1></div>
                    {{/if}}
                {{else}}
                    <!-- if student -->
                    {{#if showTasks}}
                        {{> home_incomplete_tasks_main}}
                    {{/if}}
                    <!-- {{#if completedTasks}}
                        {{> home_completed_tasks_main}}
                    {{/if}} -->
                    {{#if viewStats}}
                        <div class="block">
                            <h1>TODO: My Stats</h1>
                        </div>
                    {{/if}}
                    <!-- Makes sure the user is in a class -->
                    {{#unless userClasses}}
                        {{> join_class}}
                    {{/unless}}
                    {{#unless studentSections}}
                        {{#each userClasses}}
                            {{> join_section}}
                        {{/each}}
                        {{> welcome_student}}
                    {{/unless}}
                {{/if}}
            </div>
        </div>

</template>

<template name="welcome_student">
    
    <div class="block">
        <h2 class="center">
            Welcome to Vivaldi!
        </h2>
        <p class="lots-of-text">
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Hey everyone! Welcome to Vivaldi. With Vivaldi, you'll be able to earn points for practicing, completing tasks assigned to you by your teacher, and winning in competitions against fellow classmates!
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;It's been tons of fun building the software, but it's still far from complete. If you feel like anything is a bit strange, or something kind of sucks, please let us know! This software was built by three college students, who all played instruments in high school just a couple years ago, so we completely understand how much it sucks to be told to do menial tasks for no reason, which is why our goal is to make this experience as fun as possible for you, and to also help you improve your practice habits. We want you to become a better musician.
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Use the dropdown menu below to get started, and hopefully the rest of the website is fairly self-explanatory, but if you ever have any questions, feel free to send us a message via chat using the side menu (open it by clicking on the icon in the top left corner). 
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Looking forward to an awesome semester!
            <br><br>
            Best,
            <br><br>
            -Vivaldi Team
        </p>
    </div>

</template>