<template name="other_teachers_side">
    <div class="block">
        <div class="clickable blue-hover">
            <div class="preview" id="previewOtherTeachers">
                <p>
                    Other Teachers <i class="fa fa-chevron-down right"></i>
                </p>
            </div>
        </div>

        <div id="otherTeachersList">
            <div class="break-sm"></div>
        <!-- {{ #each otherTeachersList }} -->
            <h6>
                <a href="/user?id={{_id}}">
                    <!-- {{profile.firstName}} {{profile.lastName}} -->
                    Mr. Dumpweed
                </a>
            </h6>
        <!-- {{ /each }} -->
            
        </div>

    </div>
</template>