<template name="listen_task">
    <div class="row headerDark">
        <p class="col-sm-9 center">
            Everyone
        </p>
        <div class="col-sm-3 listentag">
            <p>
                Audio
            </p>
        </div>
    </div>
    <div class="block">
        <h6>
            Spring by Vivaldi 
        </h6>
        <div class="break-sm"></div>
        <div class="row">
            <iframe id="video548a21c19966740b00000026" src="//www.youtube.com/embed/GRxofEmo3HA" frameborder="0" allowfullscreen="allowfullscreen" style="display: inline-block; height: 212.671875px;" width="100%">
            </iframe>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn1 btn-sm width100 btn-blue">
                    Comment
                </button>
            </div>
            <div class="col-sm-4">
                <button onclick="slideCloseVideo(this, &quot;#video548a21c19966740b00000026&quot;)" class="btn btn1 btn-sm width100 btn-yellow">
                    Hide Video
                </button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn1 btn-sm width100 btn-red disabled">
                    Dismiss
                </button>
            </div>
        </div>
    </div>
</template>