<template name="post_task">
    <div class="row headerDark">
        <p class="col-sm-9 center">
            Prof. King - Announcement - 10 Points
        </p>
        <div class="col-sm-3 practicetag">
            <p>
                Post
            </p>
        </div>
    </div>
    <div class="block">
        <h6>
            Schedule - 1/15
        </h6>

        <div class="break-sm"></div>
        
        <p style="margin-left: 30px;">
            Tchaik 4<br>
            Dvorak 9<br>
            Vivaldi
        </p>

        <div class="break-sm"></div>

        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn1 btn-sm width100 btn-yellow">
                    See All
                </button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn1 btn-sm width100 btn-blue">
                    Comment
                </button>
            </div>
            <div class="col-sm-4">
                <button class="btn btn1 btn-sm width100 btn-red">
                    Dismiss
                </button>
            </div>
        </div>
    </div>
</template>