<template name="challenge_student">
    <div class="block">
    <!-- {{#if challengeAvailable}} -->
        <div class="blue-hover clickable" id="previewStudentChallenge">
            <div class="preview">
                <div class="break-sm"></div>
                <h6>
                    Challenge another student!
                    <i class="fa right fa-chevron-down"></i>
                </h6>
                <div class="break-sm"></div>
            </div>
        </div>
        <div id="studentChallenge">
            <div class="break-md"></div>
            <h6>Please select a section to challenge</h6>
            <div class="break-sm"></div>
            <div class="form shadedInputs">
                <div class="input-group clear">
                    <div class="group-input">
                        <select id="" class="input border input-md">
                            <option>Student</option>
                            <option>Student</option>
                            <option>Student</option>
                            <option>Student</option>
                        </select>
                    </div>
                </div>
                <div class="break-sm"></div>
                <button class="btn btn-md btn-red width100">
                    Confirm Challenge
                </button>
            </div>
        </div>
    </div>
    <!-- {{else}} -->
        <!-- <h6>Challenge is not available</h6> -->
    <!-- {{/if}} -->
</template>
