<template name="pre_made_ensembles">
<option value="{{ensembleName}}">{{ensembleName}}</option>
</template>

<template name="create_class_main">
<!-- TEACHERS ONLY -->
    <div class="block">
        <div class="preview">
            <div class="break-sm"></div>
            <h6>
                <i class="fa fa-plus"></i>
                    Create a New Class
                <i class="fa right fa-chevron-down"></i>
            </h6>
            <div class="break-sm"></div>
        </div>
        <div class="form shadedInputs">
            <h6>
                Create a Class
            </h6>
            <div class="break-sm"></div>
            <div class="input-group clear">
                <div class="group-label clear">
                    <label for="className">
                        Class Name
                    </label>
                </div>
                <div class="group-input">
                    <input id="className" type="text" name="className" placeholder="Symphony Orchestra" class="input input-md">
                </div>
            </div>

            <div class="break-sm"></div>

            <div class="input-group clear">
                <div class="group-label clear">
                    <label for="sectionNames">
                        Ensemble Type
                    </label>
                </div>
                <div class="group-input">
                    <select class="input border input-md" id="selectPreMade">
                        <option value="null">Select One...</option>
                        {{#each preMadeEnsembles}}
                            {{> pre_made_ensembles}}
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="break-sm"></div>

            <div class="input-group clear">
                <div class="group-label clear">
                    <label for="sectionNames">
                        Sections Separated by a Comma and a Space
                    </label>
                </div>
                <div class="group-input">
                    <input id="sectionNames" type="text" name="sectionNames" value="{{preMadeSections}}" placeholder="Violin 1, Violin 2, Viola, Cello, Bass" class="input input-md">
                </div>
            </div>

            <div class="break-sm"></div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group">
                        <!-- TODO: Have button become enabled when certain requirements are met -->
                        <button id="createClass" class="btn btn1 btn-green btn-sm">
                            Create Class
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <button id="cancelClass" class="btn btn1 btn-gray btn-sm">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>

            <div class="break-sm"></div>

            <p>
                Tip: Sections are treated like chat groups. You will be able to set a section leader, and see the average level and practice time of each section. There will also be a group called 'Section Leaders', created automatically, of which you will be the leader. With the 'Section Leaders' chat, you'll be able to ask section leaders to communicate important information to the rest of their sections. The sections you create here are not final, and you will be able to create more in the future.
            </p>

            <div class="break-sm"></div>

        </div>
    </div>
</template>