<template name="create_class_main">
    <div class="block">
        <div class="preview">
            <h6><i class="fa fa-chevron-down"></i> Create a new Class</h6>
        </div>
        <div class="form shadedInputs">
            <h6>
                Create a Class (Teachers)
            </h6>
            <div class="break-sm"></div>
            <div class="input-group clear">
                <div class="group-label clear">
                    <label for="className">
                        Class Name
                    </label>
                </div>
                <div class="group-input">
                    <input id="className" type="text" name="className" placeholder="Symphony Orchestra" class="input input-sm">
                </div>
            </div>

            <div class="input-group clear">
                <div class="group-label clear">
                    <label for="sectionNames">
                        Sections
                    </label>
                </div>
                <div class="group-input">
                    <input id="sectionNames" type="text" name="sectionNames" placeholder="Violin 1, Violin 2, Viola, Cello, Bass" class="input input-sm">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group">
                        <button id="createClass" class="btn btn1 btn-green btn-sm">
                            Create Class
                        </button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <button id="cancelClass" class="btn btn1 btn-gray btn-sm">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>