<template name="home_class_list">
    <a href="/class?id={{_id}}">
        <div class="block yellowHover">
            <p>
                Name
            </p>
            <h5>
                {{name}}
            </h5>
            <div class="break-md"></div>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        students
                    </p>
                    <h5>
                        {{numStudents}}
                    </h5>
                </div>
                <div class="col-sm-6">
                    <p>
                        Level
                    </p>
                    <h5>
                        <!-- {{classLevel}} -->
                        7
                    </h5>
                </div>
            </div>
        </div>
    </a>
</template>

<template name="teacher_welcome">
    <div class="block">
        <h2 class="center">
            Welcome to Vivaldi!
        </h2>
        <p class="lots-of-text">
            &nbsp;&nbsp;&nbsp;&nbsp;Thank you for choosing to use Vivaldi. We're super excited about the upcoming journey, and we hope you enjoy using this product as much as we enjoyed building it. 
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Hopefully you find this website useful in managing your ensembles, but we also recognize that it's still far from perfection. Please do not hesitate to give us suggestions and feedback at VivaldiMailer@gmail.com or message us from the side menu (by clicking the icon in the top left corner).
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;To get started, just click on the '+ Create a New Class' button above, and then wait for your students to join the ensemble once they make an account!
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Looking forward to an awesome semester!
            <br><br>
            Best,
            <br><br>
            -Vivaldi Team
        </p>
    </div>
</template>

<template name="home_class_list_main">
    {{#if teacherClassesList}}
        {{#each teacherClassesList}}
            {{> home_class_list}}
        {{/each}}
    {{else}}
        {{> teacher_welcome}}
    {{/if}}
</template>