<template name="home_incomplete_tasks_main">
{{#if backToTasks}}
    <div class="block class-task">
        <div class="header">
            <div class="preview">
                <div class="break-sm"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn btn1 btn-green btn-sm left" id="practiceView">
                            <i class="fa fa-plus"></i> Practice
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <h5 class="task-view-title">Current Tasks</h5>
                    </div>
                    <div class="col-sm-4">
                        <button id="toggleTasks" class="btn1 btn btn-gray btn-sm right">Show Past Tasks</button>
                    </div>
                </div>
                <div class="break-sm"></div>
            </div>
        </div>
        <div class="body">
            {{#if tasks}}
        	   {{#each tasks}}
        		    <div class="task">
                        <div class="task-title row">
                            <div class="col-sm-2">
                                {{#if type_practice}}
                                    <h5><i class="fa fa-music"></i></h5>
                                {{/if}}
                                {{#if type_audio}}
                                    <h5><i class="fa fa-headphones"></i></h5>
                                {{/if}}
                                {{#if type_post}}
                                    <h5><i class="fa fa-comment"></i></h5>
                                {{/if}}
                            </div>
                            <div class="col-sm-10">
                                <h5 class="task-name {{#if type_post}}post{{/if}}">{{name}} {{#unless type_post}}<a class="blue" onclick="openTask(this)">See more</a>{{/unless}}</h5>
                                {{#if type_post}}
                                    <p class="author">{{author.profile.firstName}} {{author.profile.lastName}} • {{creationDate}}</p>
                                {{/if}}
                                <p class="task-description {{#if type_post}}post{{/if}}">{{description}}</p>
                            </div>
                        </div>
                        <div class="task-body row" style="display: none;">
                            {{#if showVideo}}
                                {{> youtube_player}}
                            {{else}}
                                <div class="task-information col-sm-8">
                                    <div class="group">
                                        <p class="task-date">Due Date: <em class="formatDate">{{dueDate}}</em></p>
                                        <p class="task-duration">Length: <em class="formatSecondsToTimeString">{{duration}}</em></p>
                                        <p class="task-points">Points: <em class="t-red">{{points}}</em></p>
                                        <script>
                                            formatAllDates();
                                            formatSecondsToTimeString();
                                        </script>
                                    </div>
                                    <div class="group">
                                        <p>Assigned to:</p>
                                        <p class="task-sections">
                                            {{#each sections}}
                                                <em>{{name}}</em>
                                            {{/each}}
                                        </p>
                                    </div>
                                </div>
                                 <div class="col-sm-4">
                                    <div class="action-buttons">
                                        {{#if type_practice}}
                                            <button id="{{taskId}}" class="practiceTask btn btn1 btn-blue btn-sm width100">Practice</button>
                                        {{else}}
                                            <button id="{{taskId}}" class="listenTask btn btn1 btn-blue btn-sm width100">Listen</button>
                                        {{/if}}
                                        <button class="btn btn1 btn-green btn-sm width100">Something</button>
                                        <button class="btn btn1 btn-yellow btn-sm width100">Something</button>
                                        <button class="btn btn1 btn-red btn-sm width100">Something</button>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </div>
        	   {{/each}}
            {{else}}
                Well it doesn't seem like you have any current tasks, but that doesn't mean you can't keep on practicing!
            {{/if}}
        </div>
    </div>
{{/if}}
{{#if practiceView}}
    {{> practice_interface}}
{{/if}}
</template>