<template name="home_class_list">
    <div class="block yellowHover">
        <a href="/class?id={{_id}}">
            <p>
                Name
            </p>
            <h5>
                {{name}}
            </h5>
            <div class="break-sm"></div>
            <div class="break-md" style="border-bottom: 1px solid LightGray"></div>
        </a>
            <div class="row">
                <div class="blue-hover manage clickable" id="manageClass">
                    <div class="col-sm-3">
                        <div class="break-sm"></div>
                        <p>
                            Class &nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
                        </p>
                        <h5>
                            Lv. 9
                        </h5>
                    </div>
                </div>
                <div class="blue-hover manage clickable" id="manageSections">
                    <div class="col-sm-3">
                        <div class="break-sm"></div>
                        <p>
                            Sections &nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
                        </p>
                        <h5>
                            {{sections}}
                        </h5>
                    </div>
                </div>
                <div class="blue-hover manage clickable" id="manageStudents">
                    <div class="col-sm-3">
                        <div class="break-sm"></div>
                        <p>
                            Students &nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
                        </p>
                        <h5>
                            {{numStudents}}
                        </h5>
                    </div>
                </div>
                {{#if pendingStudents}}
                <div class="blue-hover manage clickable" id="managePending">
                    <div class="col-sm-3">
                        <div class="break-sm"></div>
                        <p>
                            Pending Students &nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
                        </p>
                        <h5>
                            {{pendingStudents}}
                        </h5>
                    </div>
                </div>
                {{/if}}
            </div>
        
    </div>
</template>

<template name="teacher_welcome">
    <div class="block">
        <h2 class="center">
            Welcome to Vivaldi!
        </h2>
        <p class="lots-of-text">
            &nbsp;&nbsp;&nbsp;&nbsp;Thank you for choosing to use Vivaldi. We're super excited about the upcoming journey, and we hope you enjoy using this product as much as we enjoyed building it. 
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Hopefully you find this website useful in managing your ensembles, but we also recognize that it's still far from perfection. Please do not hesitate to give us suggestions and feedback at VivaldiMailer@gmail.com or message us from the side menu (by clicking the icon in the top left corner).
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;To get started, just click on the '+ Create a New Class' button below, and then wait for your students to join the ensemble once they make an account!
            <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;Looking forward to an awesome semester!
            <br><br>
            Best,
            <br><br>
            -Vivaldi Team
        </p>
    </div>
</template>

<template name="home_class_list_main">
    {{#if teacherClassesList}}
        {{#each teacherClassesList}}
            {{> home_class_list}}
            <!-- Makes it so that all the managements don't open at once -->
            {{#if editingClass}}
                {{#if manageClass}}
                    {{> class_manage}}
                {{/if}}
                {{#if manageSections}}
                    {{> sections_manage}}
                {{/if}}
                {{#if manageStudents}}
                    {{> students_manage}}
                {{/if}}
                {{#if managePending}}
                    {{> waitlist_manage}}
                {{/if}}
            {{/if}}
        {{/each}}
    {{else}}
        {{> teacher_welcome}}
    {{/if}}
</template>