<template name="temp_stats">
    <div class="block overview">
        <div class="title">
            <h6>Class Progress</h6>
            <a id="toggleCharts"><i class="fa fa-ellipsis-h fa-3x"></i></a>
        </div>
        <div class="body">
            
            <div class="block">
                <h6>Practice Time in {{currentMonth}}: <span class="t-red">{{monthTime}} min</span></h6>
                <h6>Total Practice Time: <span class="t-red">{{totalTime}} min</span></h6>
                <h6>Level: <span class="t-red">{{userLevel}}</span></h6>
                <h6>Total Experience: <span class="t-red">{{totalExp}}</span></h6>
            </div>

        </div>
    </div>
</template>