<template name="sample_student_side">
    <div class="block">
        <h3>
            Symphony Orchestra
        </h3>
    </div>


    <div class="block">
        <h4>
            Alex Akagi
        </h4>
        <p>
            &nbsp; Level <span class="t-red">5</span> 
            &nbsp; &nbsp; &nbsp; &nbsp; <span class="t-silver">Viola</span>
        </p>
        <div class="break-sm"></div>
        <h6 class="center">
            9999/10000
        </h6>
        <p class="right">
            to Level <span class="t-blue">6</span>
        </p>
        <br>
    </div>


    <div class="block">

        <p onclick="slideOpen(this, &quot;#student4&quot;)" class="sect">
            <span class="t-red">14</span> Violin 1
            <i class="right fa fa-sort-desc fa-1x"></i>
        </p>
        <div id="student4" style="display:none;">
            <a href="/student_profile_student">
                <p class="student">
                    Violin1 Students
                </p>
            </a>
        </div>

        <p onclick="slideOpen(this, &quot;#student4&quot;)" class="sect">
            <span class="t-red">12</span> Violin 2
            <i class="right fa fa-sort-desc fa-1x"></i>
        </p>
        <div id="student4" style="display:none;">
            <a href="/student_profile_student">
                <p class="student">
                    Violin2 Students
                </p>
            </a>
        </div>

        <p onclick="slideOpen(this, &quot;#student4&quot;)" class="sect">
            <span class="t-red">7</span> Viola
            <i class="right fa fa-sort-desc fa-1x"></i>
        </p>
        <div id="student4">
            <a href="/student_profile_student">
                <p class="student">
                    Viola Students
                </p>
            </a>
            <a href="/student_profile_student">
                <p class="student">
                    Viola Students
                </p>
            </a>
            <a href="/student_profile_student">
                <p class="student">
                    Viola Students
                </p>
            </a>
            <a href="/student_profile_student">
                <p class="student">
                    Viola Students
                </p>
            </a>
            <a href="/student_profile_student">
                <p class="student">
                    Viola Students
                </p>
            </a>
            <a href="/student_profile_student">
                <p class="student">
                    Viola Students
                </p>
            </a>
            <a href="/student_profile_student">
                <p class="student">
                    Viola Students
                </p>
            </a>
        </div>

        <p onclick="slideOpen(this, &quot;#student4&quot;)" class="sect">
            <span class="t-red">10</span> Cello
            <i class="right fa fa-sort-desc fa-1x"></i>
        </p>
        <div id="student4" style="display:none;">
            <a href="/student_profile_student">
                <p class="student">
                    Cello Students
                </p>
            </a>
        </div>

        <p onclick="slideOpen(this, &quot;#student5&quot;)" class="sect">
            <span class="t-red">6</span> Bass
            <i class="right fa fa-sort-desc fa-1x"></i>
        </p>
        <div id="student5" style="display:none;">
            <a href="/student_profile_student">
                <p class="student">
                    Bass Students
                </p>
            </a>
        </div>

    </div>
</template>