<template name="student_profile_student">
    <div class="col-md-4 col-lg-4">
        <!-- {{> user_name_side}} -->
        <div class="block center">
            <h3>
                Roy Fu
            </h3>
        </div>
        {{> current_challenge_side}}
        <!-- completed button becomes {{> message_button_side}} button -->
        {{> completed_button_side}}
        {{> user_stats_side}}
    </div>
    <div class="col-md-8 col-lg-8">
        <!-- {{> task_list_header}}
        {{> practice_task}}
        {{> post_task}}
        {{> listen_task}} -->
    </div>
</template>