<template name="class_view">

        <div class="row">
            <div class="col-md-4 col-lg-4">
                {{#unless notInThisClass}}
                        <div class="block">
                            <!-- <h4>TODO: Build notInThisClass</h4> -->
                            <p>School</p>
                            <h5>{{school}}</h5>
                            <div class="break-sm"></div>
                            <p>Teacher</p>
                            {{#each teachersArray}}
                                <h5>{{firstName}} {{lastName}}</h5>
                            {{/each}}
                        </div>

                    {{#if isTeacher}}
                        {{#unless viewTasks}}
                            <button id="viewTasks" class="btn btn1 btn-blue btn-md width100">
                                View Tasks
                            </button>
                            <div class="break-sm"></div>
                        {{/unless}}
                        {{#unless manageClass}}
                            <button id="manageClass" class="btn btn1 btn-yellow btn-md width100">
                                Manage Class
                            </button>
                            <div class="break-sm"></div>
                        {{/unless}}

                    {{else}}
                        <!-- if student -->
                        {{#unless classTasks}}
                            <button id="classTasks" class="btn btn1 btn-blue btn-md width100">
                                Show Tasks
                            </button>
                            <div class="break-sm"></div>
                        {{/unless}}
                        {{#unless classStats}}
                            <button id="classStats" class="btn btn1 btn-yellow btn-md width100">
                                Class Stats
                            </button>
                            <div class="break-sm"></div>
                        {{/unless}}

                    {{/if}}
                {{/unless}}
            </div>
            <div class="col-md-8 col-lg-8">
                {{#if isTeacher}}

                    {{#if viewTasks}}
                        {{> class_task_main}}
                        <!-- {{> class_task_list_main}} -->
                    {{/if}}
                    {{#if manageClass}}
                        <!-- TODO: Move manage_class in settings to manage_class_main -->
                        {{> manage_class}}
                    {{/if}}

                {{else}}
                    <!-- if student -->
                    {{#if classTasks}}
                        {{> class_task_list_main}}
                    {{/if}}
                    {{# if classStats}}
                        <!-- {{> class_stats_main}} -->
                    {{/if}}
                {{/if}}
            </div>
        </div>

</template>