<template name="class_view">

        <div class="row">
            <div class="col-md-4 col-lg-4">
                {{> class_stats_side}}
                {{#if inThisClass}}
                        {{#unless viewTasks}}
                            <button id="viewTasks" class="btn btn1 btn-blue btn-md width100">
                                View Tasks
                            </button>
                            <div class="break-sm"></div>
                        {{/unless}}
                        {{#unless classStats}}
                            <button id="classStats" class="btn btn1 btn-yellow btn-md width100">
                                Class Stats
                            </button>
                            <div class="break-sm"></div>
                        {{/unless}}
                {{/if}}

                {{> class_section_leaders_side}}

                {{> awesome_side}}
                {{> back_home_btn}}
            </div>
            <div class="col-md-8 col-lg-8">
                {{#if inThisClass}}

                    {{#if viewTasks}}
                        {{#if isTeacher}}
                            {{> class_task_main}}
                            <!--
                            {{> task_main}}
                            {{> class_task_list_main}} -->
                            {{> challenge_class}}
                            {{#unless currentChallenge}}
                                {{> my_class_challenges}}
                            {{/unless}}
                        {{else}}
                            {{> class_task_list_main}}
                        {{/if}}
                    {{/if}}

                    {{#if classStats}}
                        <h5>Class Stats ~ Coming Soon</h5>                            
                    {{/if}}
                    


                {{else}}
                    {{#if isTeacher}}
                        {{#unless currentChallenger}}
                            {{> challenge_class_away_main}}
                        {{/unless}}
                    {{/if}}
                {{/if}}
            </div>
        </div>

</template>
