<template name="class_view">
    <div class="col-md-4 col-lg-4">
        
        <!-- Class info -->
        <div class="block">
            <p>School</p>
            <h5>{{school}}</h5>
            <div class="break-sm"></div>
            <p>Teachers</p>
            {{#each teachersArray}}
                <h5>{{firstName}} {{lastName}}</h5>
            {{/each}}
        </div>

        <div class="block">
            <p class="left">Students</p>
            <p class="right">Edit</p>
            {{#each studentsArray}}
                <a href="#">
                    <h6>TODO: {{firstName}} {{lastName}}</h6>
                </a>
            {{/each}}
        </div>

        {{#unless notInThisClass}}

            


        {{/unless}}

    </div>
    <div class="col-md-8 col-lg-8">
        
        {{#unless notInThisClass}}


        {{/unless}}
    </div>
</template>