/*
------------------------
|                      |
|         NAV          |
|                      |
------------------------
*/

.navopen {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 4em;
    top: 0;
    left: 0;
    background-color: $white;
    box-sizing: border-box;
    padding-top: 1em;
    box-shadow: 0 0 1em $gray;
    .logo {
        position: absolute;
        width: 8em;
        height: 2em;
        float: right;
        display: inline-block;
        top: 0.25em;
        left: 5em;
        background-image: url('/images/logo-lg.svg');
        background-repeat: no-repeat;
        background-size: 128px 23px;
        z-index: 105;
        @media only screen and (max-width: $break-tablet) {
            background-image: url('/images/logo-sm.svg');
            background-size: 23px 23px;
            width: 2em;
        }
        @media only screen and (max-width: $break-phone) {
            display: none;
        }
    }
    i {
        position: absolute;
        margin-left: 0.5em;
        color: $white;
        width: 1em;
        display: inline-block;
        float: left;
        z-index: 120;
        &:hover {
            cursor: pointer;
        }
    }
    .i-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 4em;
            height: 4em;
            background-color: $gray;
    }
    h6 {
        position: relative;
        font-size: 1.5em !important;
        text-align: center;
        top: 0.25em;
        color: $gray;
    }
}
.navadmin {
    position: fixed;
    left: -17em;
    width: 16em;
    max-width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 101;
    box-shadow: 0 0 1em $gray;
    .logo {
        z-index: 101;
        position: absolute;
        width: 8em;
        top: 1.25em;
        left: 10%;
    }
    .navclose {
        z-index: 101;
        position: absolute;
        width: 2em;
        height: 2em;
        top: 1em;
        left: 13em;
        &:hover {
            cursor: pointer;
        }
        i {
            color: $gray;
        }
    }
    .navsections {
        width: 80%;
        margin: 0 auto;
        margin-top: 4em;
        list-style: none;
        > li {
            border-top: 1px solid $gray;
            box-sizing: border-box;
            padding: 1em 0;
            a {
                display: block;
            }
            ul {
                list-style: none;
            }
        }
    }
}





// --- NAVIGATION -----------------
.nav-wrapper {
    position: relative;
    width: 20%;
    float: left;
    min-height: 100px;
    display: block;

    // @media screen and (max-width: $break-desktop) {
    //     width: 10%;
    //     min-width: 80px;
    //     display: inline-block;
    // }
    .nav-side {
        position: relative;
        width: 100%;
        top: 60px;
        // left: 5%;
        white-space: nowrap;
        .logo {
            width: 160px;
            height: 28px;
            background-image: $logo-lg;
            background-size: 100%;
            background-position: left;
            margin-bottom: 2em;
            // @media screen and (max-width: $break-desktop) {
            //     width: 60%;
            //     height: 50px;
            //     margin: 0 auto;
            //     border: 1px solid $light-gray;
            //     border-radius: 4px;
            //     background-image: $logo-sm;
            //     background-position: center;
            //     background-size: 26.5px;
            //     background-repeat: no-repeat;
            // }
        }
        .nav-section {
            padding-left: 20px;
            margin-bottom: 20px;
            list-style: none;
            overflow: hidden;

            // @media screen and (max-width: $break-desktop) {
            //     display: none;
            // }
            &.notifications {
                li {
                    padding-left: 20px;
                    &:first-child {
                        padding-left: 0;
                    }
                    a {

                        @include transition(color 0.15s);
                        &:hover {
                            color: $blue !important;
                            cursor: pointer;
                            span {
                                color: $blue !important;
                            }
                        }
                    }
                }
            }
            li {
                &:first-child {
                    a {
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    font-weight: bold;
                    text-transform: uppercase;
                }
                a {
                    color: $gray;
                    @include transition(color 0.15s);
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}

.white-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
}

.notifications-view {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 10;
    .container {
        width: auto;
        height: auto;
        max-width: 480px;
        margin: 0 auto;
        h4 {
            right: 52.5%;
            position: fixed;
            top: 120px;
        }
        ul {
            margin-top: 120px;
            list-style: none;
            margin-left: 52.5%;
            .unread {
                opacity: 1;
                width: auto;
                &:before:hover, &:hover {
                    &:before {
                        content: '\00A0\00A0\2A2F';
                        position: absolute;
                        left: 100%;
                    }
                }
            }
            .read {
                opacity: 0.3;
            }
        }
    }
}

.nav {
    position: fixed;
    padding-top: 20px;
    z-index: 100;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    @media only screen and (max-width: $break-tablet) {
        left: -160px;
    }
    .container-full {
        width: 90%;
        max-width: $max-width;
        margin: 0 auto;
        position: relative;
    }
    
    .input-group {
        overflow: visible;
        position: absolute;
        right: 0;
        .input, .btn, p {
            display: block;
            margin-bottom: 10px;
        }
        .input, .btn {
            width: 100%;
        }
    }
    .logo {
        width: 166px;
        height: 30px;
        background-image: $logo-lg;
        background-repeat: no-repeat;
        @media only screen and (max-width: $break-phone) {
            background-image: $logo-sm;
            width: 30px;
        }
    }
}