/*
------------------------
|                      |
|        INDEX         |
|                      |
------------------------
*/

#navIndex {
    width: 100%;
    a {
        position: fixed;
        right: 2em;
    }
}

/*
------------------------
|                      |
|       SIGN IN        |
|                      |
------------------------
*/

#signin {
    .logo {
        margin-top: 2em;
        width: 12em;
    }
}

/*
------------------------
|                      |
|        ADMIN         |
|                      |
------------------------
*/

#adminHome {
    .classes {
        > .col-sm-6 {
            background-color: $white;
            height: 9em;
            margin-bottom: 0.5em;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 1em;
            @include transition(all 0.25s ease);
            &:hover {
                color: $gray;
                background-color: $yellow;
                cursor: pointer;
                @include transition(all 0.25s ease);
            }
            &.other {
                text-align: center;
                padding-top: 3.5em;
            }
        }
    }
}

#adminClass {
    .row {
        .col-md-4, .col-md-8, .col-md-6 {
            .block {
                background-color: $white;
                margin-bottom: 0.5em;
                border-radius: 4px;
                box-sizing: border-box;
                padding: 1em;
                @include transition(all 0.25s ease);
                p.sect {
                    margin-top: 0.5em;
                }
                p.sect i {
                    position: relative;
                    top: -0.1em;
                    opacity: 1;
                    @include transition(all 0.25s ease);
                }
                p.sect:hover {
                    cursor: pointer;
                    i {
                        opacity: 1;
                        @include transition(all 0.25s ease);
                    }
                }
                p.student {
                    margin-left: 1em;
                    font-style: italic;
                }
                
                ul {
                    list-style: none;
                    li {
                        h6 {
                            i {
                                opacity: 0.2;
                            }
                            &:hover {
                                color: $blue;
                                cursor: pointer;
                                i {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                &#expandStudents {
                    h6:hover {
                        cursor: pointer;
                    }
                }
            }
            .yellowHover {
                &:hover {
                    box-shadow:  0 0 1em $blue, 1px 1px 0 $blue, -1px -1px 0 $blue, -1px 1px 0 $blue, 1px -1px 0 $blue;
                    box-sizing: content-box;
                }
            }
        }
    }
}

#adminSettingsNote {
    margin-top: 0.5em;
    color: $light-gray;
    font-style: italic;
    line-height: 1em;
}

.width100 {
    width: 100%;
}



/*
------------------------
|                      |
|       STUDENT        |
|                      |
------------------------
*/

.headerDark {
    position: relative;
    width: 100%;
    background-color: $silver;
    color: $white;
    border-radius: 4px 4px 0 0 !important;
    padding-top: 0.25em;
    padding-left: 1em;
    box-sizing: border-box;

    .listentag {
        position: absolute;
        width: 5em;
        padding-top: 0.25em;
        box-sizing: border-box;
        background-color: $gray;
        right: 0;
        top: 0;
        left: auto;
        text-align: center;
        border-radius: 0 4px 0 0;
        color: $white;
    }
    .practicetag {
        position: absolute;
        width: 5em;
        padding-top: 0.25em;
        box-sizing: border-box;
        background-color: $gray;
        right: 0;
        top: 0;
        left: auto;
        text-align: center;
        border-radius: 0 4px 0 0;
        color: $white;
    }
    & + .block {
        border-radius: 0 0 4px 4px !important;
    }
}
.block {
    .row {
        iframe {
            width: 100%;
        }
    }
}


/*
------------------------
|                      |
|     CREATE CLASS     |
|                      |
------------------------
*/

.block.class-task {
    padding: 0 !important;
    overflow: hidden;

    .header {

        box-sizing: border-box;
        padding: 0.5em 1em;
        // border-bottom: 1px solid $gray;
        box-shadow: 0 0 1em $gray;

        .task-view-title {
            padding-top: 0.25em;
            text-align: center;
        }

        .form {
            margin: 1em;
        }
    }
    .body {
        width: 100%;
        max-height: 540px;
        padding: 2em;
        box-sizing: border-box;
        overflow: scroll;
        // background-color: $light-gray;

        .task {
            box-sizing: border-box;
            padding: 0 1em 2em;
            border-bottom: 1px solid $gray;
            margin-bottom: 2em;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            .task-title {
                margin-bottom: 0.5em;
                h5 {
                    text-align: center;
                    i {
                        font-size: 1em;
                        width: 1em;
                        height: 1em;
                        text-align: center;
                        background-color: $gray;
                        color: $white;
                        padding: 0.5em;
                        border-radius: 1000px;
                        margin-right: 0.5em;
                    }
                }
                .task-name {
                    margin-top: 0.2em;
                    text-align: left;

                    a {
                        float: right;
                        font-size: 16px;
                    }
                }
                .task-description {
                    color: $silver;
                }
            }
            .task-body {
                > div {
                    padding: 0 0.25em;
                    box-sizing: border-box;
                }
                .action-buttons {
                    .btn {
                        margin-bottom: 0.5em;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .group {
                    border: 1px solid $light-gray;
                    border-radius: 4px;
                    padding: 0.5em;
                    box-sizing: border-box;
                    margin-bottom: 0.5em;
                }
                .task-sections {
                    em::after {
                        content: ", ";
                    }
                    em:last-child::after {
                        content: "";
                    }
                }
            }
        }
    }
}

/*
------------------------
|                      |
|     CREATE TASK      |
|                      |
------------------------
*/

.formTypes {
    .type {
        background-color: $light-gray;
        padding: 0.25em 1em;
        text-align: center;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
            background-color: shade($light-gray, 10%);
        }
        &.selected {
            background-color: $yellow;
        }
    }
}


/*
------------------------
|                      |
|       SECTION        |
|                      |
------------------------
*/

.overview {
    padding: 0 !important;

    .title {
        height: 60px;
        padding: 20px;
        box-sizing: border-box;

        h6 {
            font-size: 36px !important;
            float: left;
        }
        .fa-ellipsis-h {
            float: right;
            line-height: 0.75em;
            color: $blue;
        }
    }

    .body {
        position: relative;
        background-color: #333;
        border: 4px solid white;
        border-radius: 0 0 8px 8px;
        padding: 16px;
        box-sizing: border-box;
        box-shadow: inset 0 0 20px #222;

        .graph-label {
            background-color: $light-gray;
            display: inline-block;
            width: 100%;
            margin: 0;
            line-height: 0;
            padding: 0.75em 0.5em 0.5em;
            box-sizing: border-box;
            border-radius: 12px 12px 0 0;
            h6 {
                margin: 0;
            }
        }
        .graph {
            background-color: white;
            border-radius: 0 0 12px 12px;
            display: inline-block;
            padding: 10px;
            box-sizing: border-box;
            vertical-align: top;
            .chart {
                width: 100%;
            }

            .legend {
                li {
                    display: inline-block;
                    margin-right: 2em;
                    font-size: 12px;
                    span {
                        position: relative;
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        border-radius: 1000px;
                        margin-right: 0.25em;
                        top: 2px;
                    }
                }
            }
        }
        .px100 {
            width: 100px;
        }
        .graph-wrapper-1 {
            width: 57.5%;
            display: inline-block;
            margin-right: 4%;
            margin-bottom: 1em;
            &.width100 {
                width: 100%;
                margin-right: 0;
            }
            @media only screen and (max-width: $break-tablet) {
                width: 100%;
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        .graph-1 {
            height: 300px;
            width: 100%;

        }

        .graph-wrapper-2 {
            width: 37.5%;
            display: inline-block;
            margin-bottom: 1em;
            @media only screen and (max-width: $break-tablet) {
                display: none;
            }
        }
        .graph-2 {
            height: 300px;
            width: 100%;
            // .chart{
            //     text-align: center;
            //     #studentComparison {
            //         margin: 0 auto;
            //     }
            // }

        }

        .graph-wrapper-3 {
            width: 100%;
            display: inline-block;
            @media only screen and (max-width: $break-tablet) {
                display: none;
            }
        }
        .graph-3 {
            width: 100%;
            .chart{
                text-align: center;
                #studentComparison {
                    margin: 0 auto;
                }
            }

        }

    }
}

.chat {
    padding: 0 !important;

    .title {
        height: 60px;
        padding: 20px;
        box-sizing: border-box;

        h6 {
            font-size: 36px !important;
            float: left;
        }
        .fa-ellipsis-h {
            float: right;
            line-height: 0.75em;
            color: $blue;
        }
    }

    .body {
        position: relative;
        height: 340px;
        background-color: #333;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
        padding: 0 16px;
        box-sizing: border-box;

        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: inset 0 0 20px #222;
        }
    
        .messages {
            position: relative;
            height: 100%;
            overflow: scroll;
            padding: 16px 0;
            box-sizing: border-box;

            .message {
                position: relative;
                min-height: 60px;
                background-color: white;
                border-top: 2px solid #999;
                padding: 10px;
                box-sizing: border-box;

                .message-head {
                    height: 100%;
                    position: absolute;
                    top: 10px;
                    left: 10px;

                    img {
                        height: 40px;
                        width: 40px;
                        border-radius: 1000px;
                    }
                }

                .message-body {
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 60px;

                    .message-info {
                        font-size: 14px;
                        color: #999;
                    }

                }
            }
        }
    }

    .chat-input {
        height: 60px;
        padding: 6px 0 8px 0;
        box-sizing: border-box;

        .camera {
            display: inline-block;
            width: 15%;
            height: 46px;
            padding-top: 6px;
            text-align: center;
            box-sizing: border-box;
            vertical-align: bottom;
            float: left;
        }

        .chat-input {
            display: inline-block;
            width: 70%;
            height: 46px;
            padding: 0;
            margin: 0;
            border: 0;
            float: left;

            input {
                height: 46px;
                width: 100%;
                border: 0;
                margin: 0;
                padding: 0 10px;
                box-sizing: border-box;
                vertical-align: bottom;
                box-shadow: 0 0 16px #999;
                border-radius: 12px;
                font-size: 18px;
                font-family: $vollkorn;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 16px $blue;
                }
            }
        }

        .send {
            display: inline-block;
            width: 15%;
            heihgt: 46px;
            float: left;
            text-align: center;
            padding-top: 6px;

            input {
                border: 0;
                background: none;
                font-family: $vollkorn;
                font-size: 24px;
                color: $blue;

                &:focus {
                    outline: none;
                }
            }
        }

    }

}

// Unorganized new stuff - Alex

// .slide.animate {
//     overflow-y: hidden;
//     max-height: 500px; /* approximate max height */

//     transition-property: all;
//     transition-duration: .5s;
//     transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
// }


a {
    &:hover {
        .t-red {
            color: $blue !important;
            &:after {
                opacity: 1;
            }
        }
    }
}

.lots-of-text {
    padding: .7em 2em;
    line-height: 1.5;
}

.blue-hover {
    cursor: pointer;
    &:hover {
        color: $blue;
        &:after {
            opacity: 1;
        }
    }
}
.manage {
    p {
        .fa {
            font-size: 8pt;
            text-align: right;
            // padding-right: 1em;
        }
    }
}

.blue-hover {
    &:hover {
        p {
            .fa {
                color: $blue;
                &:after {
                    opacity: 1;
                }
            }
            color: $blue;
            &:after {
                opacity: 1;
            }
        }
        h5 {
            color: $blue;
            &:after {
                opacity: 1;
            }
        }
    }
}

div {
    .blue-hover {  
        &:hover{ 
            .preview {
                h6 {
                    color: $blue;
                    &:after {
                        opacity: 1;
                    }
                    .fa {
                        color: $blue;
                        &:after {
                            opacity: 1;
                        }
                    } 
                }
                p {
                    color: $blue;
                    &:after {
                        opacity: 1;
                    }
                    .fa {
                        color: $blue;
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}


/*
------------------------
|                      |
|      PRACTICE        |
|                      |
------------------------
*/

.practice-view {
    padding: 0 !important;

    .title {
        height: 60px;
        padding: 20px;
        box-sizing: border-box;

        h6 {
            font-size: 36px !important;
            float: left;
        }
        .fa-ellipsis-h {
            float: right;
            line-height: 0.75em;
            color: $blue;
        }
        .input {
            vertical-align: top;
            background-color: $white;
            color: $gray;
            border: 1px solid $yellow;

            .grayed-out {
                color: $light-gray;
            }
        }
    }

    .body {
        position: relative;
        background-color: #333;
        border: 4px solid white;
        border-radius: 0 0 8px 8px;
        padding: 16px;
        box-sizing: border-box;
        box-shadow: inset 0 0 20px #222;

        .setup {
            margin: 3em 0;
            color: $white;
            text-align: center;
        }

        .timer {
            width: 100%;

            .time {
                text-align: center;
                color: $white;
                margin-bottom: 1em;

                &:nth-child(2) {
                    color: shade($light-gray, 50%);
                }
            }
        }

        .status {
            p, p em {
                color: $white;
            }

            .bar {
                width: 100%;
                height: 2em;
                background-color: white;
                border-radius: 4px;
                overflow: hidden;

                .percentage {
                    width: 0;
                    height: 2em;
                    background-color: $blue;
                }
            }
        }

    }
}



.clickable {
    cursor: pointer;
    /*Makes it so that clickable things don't get highlighted*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-management, .student-management {
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid LightGray;
    border-bottom: 1px solid LightGray;
    max-height: 250px;
    overflow-y: scroll;
}

.task-info {
    padding-left: 30%;
}

