// --- STRUCTURE ------------------
#load {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $white;
    top: 0;
    z-index: 200;
    opacity: 0;
    .loading {
        width: 143px;
        height: 150px;
        background-image: url('../images/loading.gif');
        background-size: 100%;
    }
}

.feed {
    .feed-header {
        position: fixed;
        top: 120px;
        padding-top: 20px;
        padding-bottom: 12px;
        width: 80%;
        height: 70px;
        right: 0;
        z-index: 10;
        @include box-sizing(border-box);
        background-color: $white;
        .container {
            width: 90%;
            max-width: 520px;
            margin: 0 auto;
            @include box-sizing(border-box);
            overflow: hidden;
            a {
                margin-top: 6px;
            }
            &:after {
                content: "";
                position: absolute;
                border-bottom: 1px solid $gray;
                top: 100%;
                width: 90%;
                max-width: 560px;
                margin: 0 auto;
                left: 0;
                right: 0;
            }
        }
    }
    .feed-body {
        width: 80%;
        position: relative;
        float: left;
        .container {
            @include box-sizing(border-box);
            padding-top: 210px;
            max-width: 520px;
            margin: 0 auto;
            width: 90%;
            position: relative;
            .block-new {
                background-color: $light-gray;
                border-radius: 20px;
            }
            .block {
                position: relative;
                @include box-sizing(border-box);
                width: 100%;
                margin-bottom: 20px;
                border-radius: 20px 0 0 20px;
                box-shadow: inset 0 0 0 0 rgba(160,160,160,0.5);
                transition: box-shadow 0.5s ease-out, padding 0.1s ease-out;
                &:hover {
                    .block-content {
                        .row.block-header {
                            margin-bottom: 10px;
                        }
                        .row.block-toggle {
                            opacity: 1;
                            height: 30px;
                        }
                    }
                }
                &.click {
                    .block-content {
                        .row.block-header {
                            margin-bottom: 20px;
                        }
                        .row.block-body {
                            opacity: 1;
                            height: auto;
                            display: block;
                        }
                        .row.block-toggle {
                            opacity: 1;
                            height: 30px;
                            @include transform(rotate(180deg));
                        }
                    }
                }
                .block-content {
                    background-color: $light-gray;
                    width: 100%;
                    @include box-sizing(border-box);
                    padding: 20px;
                    border-radius: 20px;
                    .row {
                        &.block-header {
                            padding-top: 0;
                            width: 100%;
                            height: 42px;
                            position: relative;
                            @include transition(all 0.5s $ease-out-back);
                            
                        }
                        .thumbnail {
                            background-color: $gray;
                            width: 42px;
                            height: 42px;
                            float: left;
                            display: block;
                            border-radius: 4px;
                            margin-right: 1.4492753623%;
                        }
                        .left {
                            float: left;
                            text-align: left;
                        }
                        .right {
                            float: right;
                            text-align: right;
                        }
                        &.block-body {
                            opacity: 0;
                            height: 0;
                            display: none;
                            margin-bottom: 10px;
                            @include transition(height 0.5s $ease-out-back);
                            @include transition(opacity 1s $ease-out-back);
                        }
                        &.block-toggle {
                            opacity: 0;
                            height: 0;
                            cursor: pointer;
                            @include transition(all 0.5s $ease-out-back);
                        }
                    }
                }
            }
        }
    }
}
.container-full {
    @media only screen and (min-width: $break-desktop) {
        width: 36em;
        margin: 0 auto;
    }
    @media only screen and (max-width: $break-desktop) {
        width: 90%;
        margin: 0 5%;
    }
}

.jumbo {
    width: 480px;
    max-width: 100%;
    margin: 0 auto;
}

.box {
    background-color: $white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: $white;
    &:hover {
        box-shadow: 0 2px 6px lighten($light-gray, 100%);
    }
    &.box-lg .box-body {}
    .box-head {
        padding: 4px 10% 2px 10%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        &:hover {
            cursor: pointer;
            a {
                text-decoration: underline;
            }
        }
        a {
            text-decoration: none;
        }
        p, a {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        input {
            font-family: inherit;
            border: none;
            width: 100%;
            padding: 0;
            margin: 0;
            &:focus {
                border: none;
                outline: none;
                @include placeholder {
                    color: $gray;
                }
            }
            &:first-child {
                font-size: 1.25em;
                @media only screen and (max-width: $break-desktop) {
                    font-size: 1.125em !important;
                }
                @media only screen and (max-width: $break-tablet) {
                    font-size: 1.125em !important;
                }
            }
            &:nth-child(2) {
                font-size: 1em;
            }
        }
    }
    .box-divider {
        width: 80%;
        height: 0;
        margin-left: 10%;
        border-top: 1px solid $gray;
    }
    .box-body {
        padding: 6px 10% 12px 10%;
        position: relative;
    }
}
video#bgvid {
    -webkit-backface-visibility: hidden;
    position: fixed; left: 0; top: 0;
    min-width: 100%; min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}


















.content {
    // position: relative;
    width: 80%;
    float: left;
    background-color: $gray;

    @media screen and (max-width: $break-desktop) {
        width: auto;
        float: none;
        display: inline-block;

    }
    .container {
        @include span-columns(8);
        @include shift(2);
        @media screen and (max-width: $break-desktop) {
            @include span-columns(12);
            @include shift(0);
            width: 90%;
            margin: 0 5%;
        }

        .section {
            background-color: $white;
            border-radius: 4px;
            box-shadow: 0 0 2em #000;
        }
    }
}











