<template name="challenge_another_section">
    <div class="block">
        <div class="blue-hover clickable" id="previewSectionChallenge">
            <div class="preview">
                <div class="break-sm"></div>
                <h6>
                    Section Leader: Find Sections to Challenge
                    <i class="fa right fa-chevron-down"></i>
                </h6>
                <div class="break-sm"></div>
            </div>
        </div>
        <div id="sectionChallenge" class="form shadedInputs">
            asdf
        </div>
    </div>
</template>