<template name="practice_task">

    <div class="row headerDark">
        <p class="col-sm-9 center">
            10 Minutes - Due 12/31 - 100 Points
        </p>
        <div class="col-sm-3 practicetag">
            <p>
                Practice
            </p>
        </div>
    </div>



    <div class="block">
        <a href="/task_view_student">
            <h6>
                First Practice Task
            </h6>
        </a>

        <div class="break-sm"></div>

        <p class="italic">
            Practice Mvt 1 of that one piece we were playing in class earlier today, especially focus on that thing where you play notes in tune.
        </p>

        <div class="break-sm"></div>

        <div class="status-bar">
            <div class="status" style="width: 66.5633333333333%;">
                <p>
                    67% - 06:30
                </p>
            </div>
        </div>

        <div class="break-sm"></div>

        <div class="row">
            <div class="col-sm-4">
                <a href="../practice">
                    <button class="btn btn1 btn-green btn-sm width100">
                        Play
                    </button>
                </a>
            </div>
            <div class="col-sm-4">
                <button id="submit" class="btn btn1 btn-blue btn-sm width100 disabled">
                    Save Progress
                </button>
            </div>
            <div class="col-sm-4">
                <button id="submit" class="btn btn1 btn-red btn-sm width100 disabled">
                    Dismiss
                </button>
            </div>

        </div>


<!--         <h6 id="practiceTime">
            Practice Time: 00:39
        </h6> -->



    </div>
</template>