<template name="user_stats_side">
    <div class="block">
        <p>
            Name
        </p>
        <h5>
            {{profile.firstName}} {{profile.lastName}}
        </h5>
        <div class="break-sm"></div>
        <p>
            Instrument
        </p>
        <h5>
            TODO: Each Instruments
        </h5>
        <div class="break-sm"></div>
        <p>
            Sections
        </p>
        <h5>
            TODO: Each Sections
        </h5>
        <div class="break-sm"></div>
        <p>
            Classes
        </p>
        <h5>
            TODO: Each Classes
        </h5>
    </div>
</template>