<template name="user_stats_side">
    <div class="block">
        <h4>
            {{profile.firstName}} {{profile.lastName}}
        </h4>
        <div class="break-sm"></div>
        <p>
            <!-- Makes plural -->
            Instrument{{#if multiInst}}s{{/if}}
        </p>
        <div>
            {{#each userInstrument}}
                {{>user_instruments}}
            {{/each}}
        </div>
        <div class="break-sm"></div>
        <p>
            Section{{#if multiSec}}s{{/if}}
        </p>
        <div>
            {{#each userSection}}
                {{> user_sections}}
            {{/each}}
        </div>
        <div class="break-sm"></div>
        <p>
            Class{{#if multiClass}}es{{/if}}
        </p>
        <div>
            {{#each userClass}}
                {{> userClasses}}
            {{/each}}
        </div>
    </div>
</template>

<template name="user_instruments">
<h5>{{name}}</h5>
</template>

<template name="user_sections">
<h5>{{name}} Section</h5>
</template>

<template name="userClasses">
<h5>{{school}} {{name}}</h5>
</template>