<template name="message">
	<div class="message">
		<div class="message-head">
			<img src="images/demo/adminsidebar.png">
		</div>
		<div class="message-body">
			<p class="message-info">{{senderName}} • {{formattedDate}}</p>
			<p class="message-content">{{body}}</p>
		</div>
	</div>
</template>

<template name="section_leader_side">
	<div class="block">
		<p>
			Section Leader
		</p>
		<h6>
			<a href="/user?id={{leader}}">
				{{sectionLeader.profile.firstName}} {{sectionLeader.profile.lastName}}
			</a>
		</h6>
	</div>
</template>

<template name="section_view">

	<div class="row">

		<div class="col-md-4 col-lg-4">
		
			<div class="block">
				<p>Name</p>
				<h5>{{name}}</h5>
				<div class="break-sm"></div>
				<p>Class</p>
				<a href="/class?id={{class._id}}"><h5>{{ class.name }}</h5></a>
			</div>
			
			{{> section_leader_side}}


			{{#unless sectionMessage}}
	            <button id="sectionMessage" class="btn btn1 btn-blue btn-md width100">
                    Message
                </button>
                <div class="break-sm"></div>
			{{/unless}}

			{{#unless sectionStats}}
                <button id="sectionStats" class="btn btn1 btn-yellow btn-md width100">
                    Section Stats
                </button>
                <div class="break-sm"></div>
			{{/unless}}

			<div class="block">
				<p>Students</p>
				{{ #each studentData }}
					<h6>
						<a href="/user?id={{_id}}">
							{{ profile.firstName }} {{ profile.lastName }}
						</a>
						{{#if leaderManage}}
							{{#unless studentIsLeader}}
								<a class="red right">Remove</a>
							{{/unless}}
						{{/if}}
					</h6>
				{{ /each }}
				{{#if leaderManage}}
					<div class="break-lg"></div>
					<input type="checkbox" id="lockSection">
					<label for="lockSection">
						<a>
							Click here to lock section from new users
						</a>
					</label>
				{{/if}}
				<!-- {{#if userIsLeader}} -->
					<div class="break-md"></div>
					{{#if endLeaderManage}}
						<button class="btn btn-md btn-red" id="leaderManage">
							Manage
						</button>
					{{/if}}
					{{#if leaderManage}}
						<button class="btn btn-md btn-gray" id="endLeaderManage">
							Done
						</button>
					{{/if}}
				<!-- {{/if}} -->
			</div>
		</div>
	
		<div class="col-md-8 col-lg-8">
		
		{{#if sectionMessage}}
			<!-- {{#if userIsInSection}} -->
				<div class="block chat">		
					<div class="title">
						<h6>Chat</h6>
					</div>
					<div class="body">
						<div class="messages">
							{{#each getMessages}}
								{{> message}}
							{{/each}}
						</div>
					</div>

					<div class="chat-input">
						<div class="camera">
							<i class="fa fa-camera fa-2x"></i>
						</div>
						<div class="chat-input">
							<input id="new-message" type="text"/>
						</div>
						<div class="send">
							<input id="new-message-submit" type="submit" value="Send"/>
						</div>
					</div>
				</div>
			<!-- {{/if}} -->
		{{/if}}
		
		{{#if sectionStats}}
			<div class="block overview">
				
				<div class="title">
					<h6>Weekly Overview</h6>
					<a href="#"><i class="fa fa-ellipsis-h fa-3x"></i></a>
				</div>

				<div class="body">
					
					<div class="graph graph-1 bar-graph">
						<h6>Daily Minutes</h6>
					</div>

					<div class="graph graph-2 pie-graph">
						<h6>Class Comparison</h6>
					</div>	

				</div>

			</div>
		{{/if}}
			
		</div>

	</div>

</template>