<template name="class_section_leaders_side">
    <div class="block">
        <div class="clickable blue-hover" id="previewSectionLeaders">
            <div class="preview">
                <p>
                    Section Leaders <i class="fa fa-chevron-down right"></i>
                </p>
            </div>
        </div>
        <div id="sectionLeadersDisplay">
            <div class="break-sm"></div>
        {{#each sectionList}}
            <h6>
                <a href="/user?id={{currentLeader._id}}">
                    <!-- {{profile.firstName}} {{profile.lastName}}
                    Bob TODO - SectionName -->
                    {{currentLeader.profile.firstName}} {{currentLeader.profile.lastName}}
                    <!-- asdf -->
                </a>
            </h6>
        {{/each}}
            
        </div>

    </div>
</template>