<template name="index">
    <div>
        <div id="navIndex" class="nav">
            <a href="/sign_in"><button class="btn btn-gray btn-md">Sign In</button></a>
        </div>
        <div id="bodyContent" class="container-full index">
            <div class="jumbo">
                <div class="break-lg"></div>
                <div class="break-lg-scaling"></div>
                <div class="break-lg-scaling"></div>
                <div class="width80">
                    <div class="logo-100"></div>
                </div>
                <div class="break-md"></div>
                <div class="fancydivider"></div>
                <h6 class="fancyp t-center">
                    This semester we are at the very beginning of a journey. With your help we're going to succeed.
                </h6>
                <div class="divider"></div>
                <div class="center">
                    <a href="/sign_up">
                        <button class="btn btn-gray btn-md center">
                            Get Started
                        </button>
                    </a>
                </div>
                <div class="break-lg"></div>
                <div class="break-lg"></div>
                <div class="center">
                    <a target="_blank" href="http://vivaldi.education">
                        <h5>Click here to learn more about Vivaldi</h5>
                    </a>
                </div>
                <div class="break-lg"></div>
            </div>
        </div>
    </div>

</template>