<template name="change_school">
    <div class="block">
        <div class="form shadedInputs">
            <div class="input-group clear">
                <h6>
                    Change your current school (Teachers)
                </h6>
                <div class="break-sm"></div>
                <div class="group-label clear">
                    <label for="schoolName">
                        Change School
                    </label>
                </div>
                <div class="group-input">
                    <input id="schoolName" type="text" name="schoolName" placeholder="{{schoolName}}" class="input input-sm">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <button id="saveSchool" class="btn btn1 btn-gray btn-sm">
                            Save School
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>