<template name="join_classes">
<option value="{{_id}}">{{school}} {{name}}</option>
</template>

<template name="pending_classes">
    <h6 class="col-sm-8">
        <a href="/class?id={{_id}}">
            {{school}} {{name}}
        </a>
    </h6>
    <p>
        <a class="red" id="cancelJoinClass">
            Cancel
        </a>  
    </p>
</template>

<template name="join_class">

    
    {{#unless pendingClassesList}}
        <div class="block">
            <div class="form shadedInputs">
                <h6>
                    Join a Class
                </h6>

                <div class="break-sm"></div>

                <div class="input-group clear">
                    <div class="group-label clear">
                        <label for="classList">
                            Select Class to Join
                        </label>
                    </div>

                    <div class="group-input">
                        <select class="input border input-md" id="selectClass">
                            {{#each classList}}
                                {{> join_classes}}
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class="break-sm"></div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <button id="joinClass" class="btn btn1 btn-gray btn-sm">
                                Join Class
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <div class="block">
            <div>
                <h4>
                    Pending Classes
                </h4>
                <div class="break-md"></div>
                {{#each pendingClassesList}}
                    {{> pending_classes}}
                {{/each}}
            </div>
            <p class="lots-of-text">
                Please wait for your teacher to confirm you as a student. Once you're accpeted, you'll be able to join a section. You will still be able to document your practice while waiting to be confirmed.
            </p>
        </div>
    {{/unless}}
</template>
