<template name="student_view">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            {{> user_stats_side}}
            <!-- {{> }} -->
            

            {{#unless userMessage}}
                <button class="btn btn-blue btn-md width100" id="userMessage">
                    Message
                </button>
                <div class="break-sm"></div>
            {{/unless}}
            {{#unless userStats}}
                <button class="btn btn-yellow btn-md width100" id="userStats">
                    View Stats
                </button>
                <div class="break-sm"></div>
            {{/unless}}


            {{> awesome_side}}
            {{> back_home_btn}}
            </div>
            <div class="col-md-8 col-lg-8">

            {{#if inSameClass}}
                    <!-- Teachers see messages or view stats -->
                {{#if userMessage}}
                    {{> user_messenger_main}} 
                {{/if}}
                {{#if userStats}}
                    <!-- <div class="block overview">
                        <div class="title">
                            <h6>Class Progress asdf</h6>
                            <a id="toggleCharts"><i class="fa fa-ellipsis-h fa-3x"></i></a>
                        </div>
                        
                    </div> -->
                    {{> temp_user_stats}}

                {{/if}}
            {{/if}}
        </div>
    </div>
</template>
