<template name="dashboard_view">

    <div class="col-md-4 col-lg-4">
      <!--   {{#if isTeacher}}


        {{> class_title_side}}
        {{> class_stats_side}}

            


            {{else}}


            {{/if}}


        {{/unless}}
 -->
    </div>
    <div class="col-md-8 col-lg-8">
        <!-- 
        {{#unless notInThisClass}}

            {{> task_title_main}}

            {{#if isTeacher}}
                {{> create_task}}
            {{else}}
                {{> student_post}}
            {{/if}}

            {{#each allTasksList}}
                {{> task}}
            {{/each}}

        {{else}}
            {{> welcomeYouAreNotInThisClass}}
        {{/unless}}
         -->
    </div>
</template>