<template name="user_stats_main">
    <div class="block overview">
                
        <div class="title">
            <h6>Weekly Overview</h6>
            <a href="#"><i class="fa fa-ellipsis-h fa-3x"></i></a>
        </div>

        <div class="body">
            
            <div class="graph graph-1 bar-graph">
                <h6>Daily Minutes</h6>
            </div>

            <div class="graph graph-2 pie-graph">
                <h6>Class Comparison</h6>
            </div>  

        </div>

    </div>
</template>