<template name="message_a">
    <div class="message">
        <div class="message-head">
            <img src="images/demo/adminsidebar.png">
        </div>
        <div class="message-body">
            <p class="message-info">{{senderName}} • {{formattedDate}}</p>
            <p class="message-content">{{body}}</p>
        </div>
    </div>
</template>


<template name="messenger">
    <div class="block chat">        
        <div class="title">
            <h6>Chat</h6>
        </div>
        <div class="body">
            <div class="messages">
                {{#each getMessages}}
                    {{> message_a}}
                {{/each}}
            </div>
        </div>

        <div class="chat-input">
            <div class="camera">
                <i class="fa fa-camera fa-2x"></i>
            </div>
            <div class="chat-input">
                <input id="new-message" type="text"/>
            </div>
            <div class="send">
                <input id="new-message-submit" type="submit" value="Send"/>
            </div>
        </div>
    </div>
    <!-- <div class="block chat"> 
        <div class="title">
            <h6>Chat</h6>
        </div>

        <div class="body">

            <div class="messages">

                <div class="message">
                    <p>Benji Jr. Alderfer</p>
                </div>

                <div class="message">
                    <p>Bean Alderfer</p>
                </div>

                <div class="message">
                    <p>Benji Jr. Alderfer</p>
                </div>

                <div class="message">
                    <div class="message-head">
                        <img src="images/demo/adminclass.png">
                    </div>
                    <p>Bean Alderfer</p>
                </div>

            </div>

        </div>

        <div class="chat-input">

            <div class="camera">
                <i class="fa fa-camera fa-2x"></i>
            </div>

            <div class="chat-input">
                <input id="new-message" type="text"/>
            </div>

            <div class="send">
                <input id="new-message-submit" type="submit" value="Send"/>
            </div>
        </div>
    </div> -->
</template>