<template name="nav_bar">

    <!-- Top bar -->
    <div class="navopen">
        <i class="fa fa-bars fa-2x"></i>
        <div class="i-background"></div>
        <a href="/">
            <div class="logo"></div>
        </a>
        <h6>{{title}}</h6>

        <!-- <div class="i-right-background">
            <p class="blue-hover" id="toggleNotifications">Notifications: <span class="t-red">3</span></p>
        </div> -->
    </div>

    <!-- Side bar (Hidden) -->
    <div class="navadmin">

        <!-- Side bar header -->
        <div class="navclose">
            <i class="fa fa-times fa-2x"></i>
        </div>
        <div class="logo">
            <a href="/" class="cf">
                <img src="../images/logo-lg.svg" alt="VIVALDI">
            </a>
        </div>

        <!-- Side bar body -->
        <ul class="navsections">

            <!-- User name -->
            <li>
                <p>Welcome</p>
                <h5>{{firstName}} {{lastName}}</h5>
            </li>

            <!-- User Classes -->
            <li>
                <p>Your Classes</p>
                <div class="break-sm"></div>
                <ul>
                    {{#each userClasses}}
                    <li>
                        <a href="/class?id={{_id}}">
                            <h6>{{name}}</h6>
                        </a>
                    </li>
                    <div class="break-sm"></div>
                    {{/each}}
                </ul>
            </li>

            <!-- User sections (if student) -->
            {{#unless isTeacher}}
            <li>
                <p>Your Sections</p>
                <ul>
                    {{#each studentSections}}
                    <li>
                        <a href="/section?id={{_id}}">
                            <h6>{{name}}</h6>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/unless}}

            <!-- Useful links -->
            <li>
                <a href="/report">Report an Error</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Log Out</a>
            </li>

        </ul>
    </div>

    <!-- Notifications -->
    <!-- <div id="notifications">
        <div class="times-button clickable right close-notifications" id="hello">
            <i class="fa fa-times"></i>
        </div>
        <a href="/home">
            <div class="notification-el">
                <h6 style="display: inline-block;">New Practice Task!</h6>
                <p>Practice Mahler 1</p>
                <div class="break-sm"></div>
                <p>- Symphony Orchestra</p>
            </div>
        </a>
        <a href="/user?id=">
            <div class="notification-el">
                New Message from firstName lastName
            </div>
        </a>
        <a href="/section?id=">
            <div class="notification-el">
                New Section Message
            </div>
        </a>
        <a href="/section?id=">
            <div class="notification-el">
                New Section Message
            </div>
        </a>
    </div> -->

</template>