<template name="nav_bar">
    <div class="navopen">
        <i class="fa fa-bars fa-2x"></i>
        <div class="i-background">
        </div>
        <a href="/">
            <div class="logo"></div>
        </a>
        <h6>TODO: Implement page title</h6>
    </div>
    <div class="navadmin">
        <div class="navclose">
            <i class="fa fa-times fa-2x"></i>
        </div>
        <div class="logo">
            <a href="/" class="cf">
                <img src="../images/logo-lg.svg" alt="VIVALDI">
            </a>
        </div>
        <ul class="navsections">
            <li>
                <p>Welcome</p>
                <h5>{{firstName}} {{lastName}}</h5>
            </li>
            <li>
                <p>Classes</p>
                <ul>
                    {{#each teacherClasses}}
                    <li>
                        <a href="../classes/manage?id=542a2ee20bbcdc0b00000026">
                            <h6>{{name}}</h6>
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </li>
            <li>
                <a href="/reportanerror">Report an Error</a>
                <a href="../settings/">Settings</a>
                <a>Log Out</a>
            </li>
        </ul>
    </div>
</template>