<template name="notification">
    <div class="clickable blue-hover">
        <a href="{{url}}" id="notificationLink">
            {{text}}
        </a>
    </div>
</template>

<template name="notifications">
    <div class="block">
        <div class="clickable blue-hover" id="previewNotifications">
            <div class="preview">
                <p>
                    <span class="t-red">{{notificationCount}}</span> Notification{{plural}} <i class="fa fa-chevron-down right"></i>
                </p>
            </div>
        </div>

        <div id="notificationList">
            <div class="break-sm"></div>
            {{#if notificationList}}
                {{ #each notificationList }}
                    {{> notification}}
                {{ /each }}
            {{else}}
                No Notifications!
            {{/if}}
        </div>

    </div>
</template>