<!-- DOES NOT WORK RIGHT NOW -->

<template name="side_bar">
    <div class="navadmin">
        <div class="logo">
            <a href="/" class="cf">
                <img src="../images/logo-lg.svg" alt="VIVALDI">
            </a>
        </div>
        <div class="navclose">
            <i class="fa fa-times fa-2x">
            </i>
        </div>
        <ul class="navsections">
            <li>
                <p>Welcome
                </p>
                <h5>Alex Akagi
                </h5>
            </li>
            <li>
                <p>Classes
                </p>
                <ul>
                    <li>
                        <a href="../classes/manage?id=542a2ee20bbcdc0b00000026">
                            <h6>Alex Orchestra
                            </h6>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/reportanerror">Report an Error
                </a>
                <a href="../settings/">Settings
                </a>
                <a href="../users/logout/">Log Out
                </a>
            </li>
        </ul>
    </div>
</template>