<template name="my_stats_side">
    <a href="/my_profile_student">
        <div class="block yellowHover">
            <h4>
                Alex Akagi
            </h4>
            <p>
                &nbsp; Level <span class="t-red">5</span> 
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="t-silver">Viola</span>
            </p>
            <div class="break-sm"></div>
            <h6 class="center">
                9999/10000
            </h6>
            <p class="right">
                to Level <span class="t-blue">6</span>
            </p>
            <br>
        </div>
    </a>
</template>