<template name="confirm_email">
    <div id="signin" class="container-full">
        <a href="/">
            <img src="/images/logo-lg.svg" alt="VIVALDI" class="logo">
        </a>
        <div class="break-lg-scaling"></div>
    </div>
    <div class="jumbo">

        <div class="break-lg"></div>
        <div class="break-lg"></div>
        <h2 class="t-center">
            Congratulations!
        </h2>
        <br><br>
        <p class="t-center">
            Please check your inbox to verify your address.
        </p>
        <p class="t-center">
            Let us know at vivaldimailer@gmail.com if you experience any problems.
        </p>
    </div>

</template>