<!-- /sign_in -->


<template name="confirm_email">
    <div id="signin" class="container-full">
        <a href="/">
            <img src="images/logo-lg.svg" alt="VIVALDI" class="logo">
        </a>
    </div>

    <div id="bodyContent" class="container-full">
        <div class="jumbo">
            <div class="break-lg"></div> 
            <div class="break-lg"></div>
            <div class="break-lg"></div>
            <div class="break-lg"></div>
            <h2 class="t-center">
                Congratulations!
            </h2>
            <br>
            <p class="t-center">
                An email has been sent to alexanderakagi@gmail.com.
            </p>
            <p class="t-center">
                Please check your inbox to verify your address.
            </p>
            <p class="t-center">
                If you didn't recieve an email click 
                <a class="blue">
                    here
                </a>
                 to resend it.
            </p>
        </div>
    </div>




</template>