<template name="forgot_password">
     <div id="signin" class="container-full">
        <a href="/">
            <img src="/images/logo-lg.svg" alt="VIVALDI" class="logo">
        </a>
        <div class="break-lg-scaling"></div>
    </div>

    <div class="container-full">
        <div class="form">
            <div class="forgot-password" id="forgotPassword">
                <form action="/forgot" class="forgot-password-form" id="forgotPasswordForm" method="post">
                    <div class="input-group">
                        <div>
                            <label for="forgotPasswordEmail">
                                What was the email address for your password?
                            </label>
                        </div>
                        <div class="group-input">
                            <input class="email input border input-md width100" id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="break-md"></div>
                    <div class="break-md"></div>

                    <div class="input-group">
                        <input class="btn-submit btn btn1 btn-md width100" type="submit" value="Recover Password">
                    </div>
                </form>
            </div>
        </div>
        <div class="break-md"></div>
        <div class="break-md"></div>
        <h5>
            <a href="/sign_in">
                Go back to sign in
            </a>
        </h5>
    </div>

</template>