<template name='instruments'>
{{name}}
</template>

<template name="schools">
{{name}}
</template>

<template name="onboard_form">
    <div id="signin" class="container-full">
        <a href="/">
            <img src="/images/logo-lg.svg" alt="VIVALDI" class="logo">
        </a>
        <div class="break-lg-scaling">
        </div>

        <label class="teacher-sign-up right">
            <input type="checkbox" checked="{{teacherSignUp}}" />
            Sign up as a teacher.
            <div class="break-md"></div>
        </label>
        
        <div class="form">
            <form action="/onboard_form" class="sign-up-form" id="onboardForm" method="post">

                {{#if teacherSignUp}}

                    <div class="input-group">
                        <div class="group-label">
                            <label for="school">
                                Enter School Name
                            </label>
                        </div>
                        <div class="group-input">
                            <input class="input border input-md" id="school" name="school" placeholder="North Central High School" type="text">
                        </div>
                    </div>

                    <div class="break-md"></div>

                    <div class="input-group">
                        <div class="group-label">
                            <label for="honorific">
                                Please enter your title/honorific, or your first name if you prefer.
                            </label>
                        </div>
                        <div class="group-input">
                            <input class="input border input-md" id="honorific" name="honorific" placeholder="Mr. / Ms. / Mrs. / Dr. / Prof." type="text">
                        </div>
                    </div>

                    <div class="break-md"></div>

                    <div class="input-group">
                        <div class="group-label">
                            <label for="lastName">
                                Please enter your last name.
                            </label>
                        </div>
                        <div class="group-input">
                            <input class="input border input-md" id="lastName" name="lastName" placeholder="Last Name" type="text">
                        </div>
                    </div>

                    <div class="break-md"></div>

                {{else}}

                    <div class="input-group">
                        <div class="group-label">
                            <label for="firstName">
                                Please enter your first name.
                            </label>
                        </div>
                        <div class="group-input">
                            <input class="input border input-md" id="firstName" name="firstName" placeholder="Antonio" type="text">
                        </div>
                    </div>

                    <div class="break-md"></div>

                    <div class="input-group">
                        <div class="group-label">
                            <label for="lastName">
                                Please enter your last name.
                            </label>
                        </div>
                        <div class="group-input">
                            <input class="input border input-md" id="lastName" name="lastName" placeholder="Vivaldi" type="text">
                        </div>
                    </div>

                    <div class="break-md"></div>

                    <div class="input-group">
                        <div class="group-label">
                            <label for="selectInstrument">
                                Select Your Instrument
                            </label>
                        </div>
                        <div class="group-input">
                            <select class="input border input-md" id="selectInstrument">
                               {{#each instrumentList}}
                                    <option>{{> instruments}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="break-md"></div>

                    <div class="group-input">
                        <select class="input border input-md" id="selectSchool">
                           {{#each schoolList}}
                                <option>{{> schools}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="break-md"></div>

                {{/if}}

                <div class="input-group">
                    <div class="group-label">
                        <label for="createPassword">
                            Password
                        </label>
                    </div>
                    <div class="group-input">
                        <input class="input border input-md" id="createPassword" name="createPassword" placeholder="Password" type="password">
                    </div>
                </div>

                <div class="break-md"></div>

                <div class="input-group">
                    <div class="group-label">
                        <label for="confirmPassword">
                            Confirm Password
                        </label>
                    </div>
                    <div class="group-input">
                        <input class="input border input-md" id="confirmPassword" name="confirmPassword" placeholder="Confirm" type="password">
                    </div>
                </div>
                <div class="break-md"></div>

                <div class="input-group">
                    <input class="btn btn1 btn-md width100" type="submit" value="Sign In">
                </div>

            </form>
        </div>

        <div class="break-lg"></div>

        <a href="/sign_in">
            <h5>
                Already have an account? Click here to sign in.
            </h5>
        </a>
    </div>


</template>