<template name="reset_password">
	 <div id="signin" class="container-full">
        <a href="/">
            <img src="/images/logo-lg.svg" alt="VIVALDI" class="logo">
        </a>
        <div class="break-lg-scaling"></div>
    </div>

     <div class="container-full">
        <div class="form">
            <div class="forgot-password" id="resetPassword">
                <form action="/reset" class="forgot-password-form" id="resetPasswordForm" method="post">
                    <div class="input-group">
                        <div>
                            <label for="forgotPasswordEmail">
                               Enter a New Password
                            </label>
                        </div>
                        <div class="group-input">
                            <input class="input border input-md width100" id="newPassword" type="password" name="newPassword" placeholder="Enter a new password">
                        </div>
                        <div class="break-md"></div>
                        <div class="group-input">
                            <input class="input border input-md width100" id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm your password">
                        </div>
                    </div>

                    <div class="break-md"></div>
                    <div class="break-md"></div>

                    <div class="input-group">
                        <input class="btn-submit btn btn1 btn-md width100" type="submit" value="Set New Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>