<template name="sign_up">
    <div id="signin" class="container-full">
        <a href="/">
            <img src="/images/logo-lg.svg" alt="VIVALDI" class="logo">
        </a>
        <div class="break-lg-scaling">
        </div>
        <div class="form">
            <form action="/sign_up" class="sign-up-form" id="signUpForm" method="post">
                <div class="input-group">
                    <div class="group-label">
                        <label for="email">
                            Email
                        </label>
                    </div>
                    <div class="group-input">
                        <input class="input border input-md" id="signUpEmail" name="email" placeholder="Email Address" type="email">
                    </div>
                </div>
                <div class="break-md"></div>
                <div class="input-group">
                    <input class="btn btn1 btn-md width100" type="submit" value="Sign Up">
                </div>
            </form>
        </div>
        <div class="break-lg"></div>
        <h6>
            If you are a teacher and would like to join Vivaldi, 
            <br>email Alex at 
            <a href="mailto:vivaldimailer@gmail.com">vivaldimailer@gmail.com</a>
        </h6>
        <div class="break-md"></div>
        <a href="/sign_in">
            <h5>
                Already have an account? Click here to sign in.
            </h5>
        </a>
    </div>
</template>