<template name="sign_up">

    <div id="signin" class="container-full">
        <a href="/">
            <img src="images/logo-lg.svg" alt="VIVALDI" class="logo">
        </a>
        <div class="break-lg">
        </div>
        <div class="form">
            <div class="input-group">
                <div class="group-label">
                    <label for="email">
                        Email
                    </label>
                </div>
                <div class="group-input">
                    <input id="emailStudentSignup" type="email" class="input border input-md">
                </div>
            </div>
            <div class="break-md"></div>
            <div class="input-group">
                <button id="studentSignUp" class="btn btn1 btn-md">
                    Sign Up
                </button>
            </div>
        </div>
        <div class="break-lg"></div>
        <h6>
            If you are a teacher and want to know more about Vivaldi, 
            <br>email Alex at 
            <a href="mailto:vivaldimailer@gmail.com">vivaldimailer@gmail.com</a>
        </h6>
    </div>

</template>